<template name="default_sidebar_content">
    <ul class="navigation">
        {{#each nav_items }}
            {{#if this.external }}
                {{> externalNavItem }}
            {{else}}
                {{> navItem }}
            {{/if}}
        {{/each}}
    </ul>
</template>

<template name="externalNavItem">
    <li>
        {{#a route=route external=true }}
            <span>{{page.title}}</span> <i class="{{nav.icon}}"></i>
        {{/a}}
    </li>
</template>

<template name="navItem">
    <li class="{{ isActive route }}">
        <a href="{{pathFor route}}"
           class="{{#if nav.children}}expand{{/if}}"
           id="{{#if nav.children}}{{ isActivePath path 'first-level' }}{{/if}}">
            <span>{{page.title}}</span> <i class="{{nav.icon}}"></i>
        </a>
        {{#if nav.children }}
        <ul>
            {{#each nav.children}}
                {{#if this.external }}
                    {{> externalNavItem }}
                {{else}}
                    {{> childNavItem }}
                {{/if}}
            {{/each}}
        </ul>
        {{/if}}
    </li>
</template>

<template name="childNavItem">
    <li class="{{ isActive route }}">
        <a href="{{pathFor route}}"
           class="{{#if children}}expand{{/if}}">
            {{title}}
        </a>
        {{#if children}}
        <ul>
            {{#each children}}
                {{#if this.external }}
                    {{> externalNavItem }}
                {{else}}
                    {{> childNavItem }}
                {{/if}}
            {{/each}}
        </ul>
        {{/if}}
    </li>
</template>