<template name="contacts_block">
    <div class="block">
        <div class="thumbnail">
            <a href="http://placehold.it/300" class="thumb-zoom lightbox" title="Eugene A. Kopyov">
                <img src="http://placehold.it/300" alt="">
            </a>

            <div class="caption text-center">
                <h6>Eugene A. Kopyov <small>UX designer</small></h6>
                <div class="icons-group">
                    <a href="#" title="Google Drive" class="tip"><i class="icon-google-drive"></i></a>
                    <a href="#" title="Twitter" class="tip"><i class="icon-twitter"></i></a>
                    <a href="#" title="Github" class="tip"><i class="icon-github3"></i></a>
                </div>
            </div>
        </div>
    </div>
</template>