<template name="contacts_chat_controls">
    <!-- chat controls -->
    <textarea name="enter-message" class="form-control" rows="3" cols="1" placeholder="Enter your message..."></textarea>
    <div class="message-controls">
        <span class="pull-left"><i class="icon-checkmark-circle"></i> Some basic <a href="#" title="">HTML</a> is OK</span>
        <div class="pull-right">
            <div class="upload-options">
                <a href="#" title="" class="tip" data-original-title="Smileys"><i class="icon-smiley"></i></a>
                <a href="#" title="" class="tip" data-original-title="Upload photo"><i class="icon-camera3"></i></a>
                <a href="#" title="" class="tip" data-original-title="Attach file"><i class="icon-attachment"></i></a>
            </div>
            <button type="button" class="btn btn-danger btn-loading" data-loading-text="<i class='icon-spinner7 spin'></i> Processing">Submit</button>
        </div>
    </div>
    <!-- /chat controls -->
</template>