/* ===== Components ===== */

/* General Layout */
@import "../packages/luma-ui/components/general_layout/resets.import.less";
@import "../packages/luma-ui/components/general_layout/general_layout.import.less";
@import "../packages/luma-ui/components/general_layout/contextual_backgrounds.import.less";
/* Headings */
@import "../packages/luma-ui/components/headings/headings.import.less";
/* Lists */
@import "../packages/luma-ui/components/lists/lists.import.less";
@import "../packages/luma-ui/components/lists/list_groups.import.less";
/* Typography */
@import "../packages/luma-ui/components/typography/text_styles.import.less";
@import "../packages/luma-ui/components/typography/typography.import.less";
/* Scrollbar */
@import "../packages/luma-ui/components/scrollbar/scrollbar.import.less";
/* Navbar */
@import "../packages/luma-ui/components/navbar/navbar.import.less";
/* Page Header */
@import "../packages/luma-ui/components/page_header/page_header.import.less";
/* Labels */
@import "../packages/luma-ui/components/labels/labels.import.less";
/* Dropdowns */
@import "../packages/luma-ui/components/dropdowns/dropdowns.import.less";
/* Panels */
@import "../packages/luma-ui/components/panels/panels.import.less";
/* Callouts */
@import "../packages/luma-ui/components/callouts/callouts.import.less";
/* Alerts */
@import "../packages/luma-ui/components/alert/alerts.import.less";
/* Form Control */
@import "../packages/luma-ui/components/form_control/form_control.import.less";
/* Modals */
@import "../packages/luma-ui/components/modals/modals.import.less";
/* Progress Bars */
@import "../packages/luma-ui/components/progress_bars/progress_bars.import.less";
@import "../packages/luma-ui/components/progress_bars/iron_router_progress_bar.import.less";
/* Tooltips */
@import "../packages/luma-ui/components/tooltip/tooltip.import.less";
/* Pagination */
@import "../packages/luma-ui/components/pagination/pagination.import.less";
/* Buttons */
@import "../packages/luma-ui/components/buttons/buttons.import.less";
/* Table */
@import "../packages/luma-ui/components/table/table.import.less";
/* Thumbnail */
@import "../packages/luma-ui/components/thumbnail/thumbnail.import.less";
/* Media Object */
@import "../packages/luma-ui/components/media_object/media_object.import.less";
/* Headline */
@import "../packages/luma-ui/components/headline/headline.import.less";
/* Flags */
@import "../packages/luma-ui/components/flags/flags.import.less";

@import "../packages/luma-ui/components/stats/stats.import.less";

@import "../packages/luma-ui/components/general_layout/general_styles.import.less";


/* # Custom widgets and layout elements
================================================== */


/*===== Media page option bar =====*/

.bar label {
  float: left;
  font-size: 12px;
  display: inline-block;
  margin: 7px 12px 0 0;
}

.bar-left,
.bar .select,
.bar select,
.bar .form-control {
  float: left;
}
.bar-right {
  float: right;
}

.bar .form-control {
  width: auto;
}
.bar .btn {
  margin-left: 2px;
}
.bar .pagination {
  margin-top: 3px;
}
.file-info span {
  display: block;
}

@media (max-width: 767px) {
  .bar-left, .bar-right {
    float: none;
    width: 100%;
  }
  .bar-right {
    margin-top: 20px;
  }

  .bar label {
    margin: 0 0 4px 0;
    display: block;
  }
  .bar .form-control {
    width: 100%;
  }
  .bar .btn {
    margin-top: 2px;
    margin-left: 0;
    text-align: center;
    width: 100%;
  }
  .bar .btn > i {
    float: none;
  }
  .bar .select2-container {
    width: 100%!important;
  }
}





/*===== Send message widget with icon toolbar =====*/

.upload-options {
  float: left;
  margin: 8px;
}
.upload-options a {
  color: white;
  opacity: 0.5;
  filter: alpha(Opacity=50);
  margin-right: 10px;
}
.upload-options a:hover {
  opacity: 1;
  filter: alpha(Opacity=100);
}

.message-controls {
  margin-top: 16px;
}
.message-controls .pull-left {
  color: #999;
  font-size: 12px;
  margin-top: 8px;
  display: block;
}
.message-controls .pull-left i {
  float: left;
  margin: 0 6px 0 0;
}

@media (max-width: 479px) {
  .message-controls {
    text-align: center;
  }
  .message-controls .pull-left {
    display: none;
  }
}





/*===== Task grid =====*/

.task {
  background-color: rgba(255,255,255, 0.1);
  font-size: 12px;
  border: 0px solid transparent;
  border-left-width: 10px;
}

.task-description a {
  font-size: 14px;
  font-weight: 600;
}
.task-description span {
  display: block;
  margin-top: 6px;
}
.task-description i {
  font-style: normal;
  font-size: 11px;
  color: white;
  margin-left: 8px;
}

.task-info {
  text-align: right;
}
.task-info > span {
  display: block;
  color: white;
  margin-top: 6px;
}
.task-info > span:first-child {
  margin-top: 0;
}
.task-info > span i {
  float: left;
  margin: 2px 6px 0 0;
}
.task-info .label {
  margin-left: 5px;
}

.task-high {
  border-left-color: #D65C4F;
}
.task-normal {
  border-left-color: #65B688;
}
.task-low {
  border-left-color: #bbb;
}

.task-desc a {
  font-weight: 600;
  display: inline-block;
  margin-top: 3px;
  margin-bottom: 3px;
}
.task-desc span {
  display: block;
  color: #999;
  font-size: 11px;
  margin-top: -2px;
}

@media (max-width: 767px) {
  .task-info {
    text-align: center;
    border-top: 1px solid #eee;
    padding-top: 20px;
  }
}





/*===== Panel footer links and icons =====*/

.footer-links-group {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-links-group > li {
  float: left;
  padding: 9px 12px 10px 12px;
  border-right: 1px solid #eee;
}
.footer-links-group > li.has-label {
  padding: 6px 12px;
}

.footer-icons-group {
  margin: 0;
  list-style: none;
  padding: 0;
}
.footer-icons-group > li {
  float: left;
  position: relative;
}
.footer-icons-group > li > a {
  line-height: 1;
  color: #999;
  display: block;
  padding: 9px 10px 10px 10px;
  border-left: 1px solid #eee;
}
.footer-icons-group > li > a:hover,
.footer-icons-group > li > a:focus {
  color: #65B688;
}

@media (max-width: 479px) {
  .footer-links-group > li {
    border-right: 0;
  }

  .footer-icons-group > li > a {
    border-left: 0;
  }
}

@media (max-width: 767px) {
  .footer-links-group > li, .footer-icons-group > li {
    float: none;
  }

  .footer-icons-group {
    font-size: 0;
  }
  .footer-icons-group > li > a {
    border: 0;
  }
  .footer-icons-group > li {
    display: inline-block;
  }

  .panel-footer .pull-left i {
    display: none;
  }
}





/*===== Icons group =====*/

.icons-group a {
  color: #555;
  margin-left: 4px;
}
.icons-group a:first-child {
  margin-left: 0;
}
.icons-group a:hover, .icons-group a:focus {
  color: #999;
}

.footer .icons-group a {
  margin-left: 12px;
  color: #999;
  float: left;
}
.footer .icons-group a:hover, .footer .icons-group a:focus {
  color: #555;
}

/* search */
@import "../packages/luma-ui/components/search/search.import.less";




/*===== User status styles =====*/

.status {
  width: 6px;
  height: 6px;
  margin-left: 4px;
  vertical-align: 1px;
  display: inline-block;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.status-default {
  background-color: #aaa;
}

.status-success {
  background-color: #239169;
}

.status-info {
  background-color: #3CA2BB;
}

.status-danger {
  background-color: #D65C4F;
}

.status-warning {
  background-color: #E7804F;
}

/*===== Info buttons =====*/

.info-buttons {
  margin-left: 0;
  margin-right: 0;
}
.info-buttons a {
  display: block;
  color: #505050;
  padding: 10px 12px;
  text-align: center;
  position: relative;
  background-color: #fafafa;
  border: 1px solid #ddd;
}
.info-buttons a + a {
  border-left: 0;
}
.info-buttons a i {
  font-size: 32px;
  margin: 0;
  display: block;
  font-weight: normal;
}
.info-buttons a span {
  display: block;
  margin-top: 8px;
  font-weight: 600;
  font-size: 12px;
}
.info-buttons a strong {
  position: absolute;
  right: -1px;
  top: -1px;
}
.info-buttons a:hover {
  background-color: #fcfcfc;
  border-color: #e5e5e5;
  color: #2A6496;
}
.info-buttons a:active,
.info-buttons a:focus {
  color: #3792A8;
  border-color: #d5d5d5;
}





/*===== Info blocks =====*/

.info-blocks {
  list-style: none;
  width: 100%;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}
.info-blocks > li {
  display: inline-block;
  text-align: center;
  min-width: 150px;
  white-space: nowrap;
  margin: 0 10px 5px 10px;
}
.info-blocks > li > a > i {
  font-size: 48px;
  display: inline-block;
  margin-bottom: 20px;
}
.info-blocks > li > a:hover {
  opacity: 0.8;
  filter: alpha(Opacity=80);
  color: #fff;
}

.top-info {
  margin: 16px 14px 14px 14px;
}
.top-info > a {
  display: block;
  font-weight: 600;
  text-transform: uppercase;
}
.top-info > a:hover {
  opacity: 0.8;
  filter: alpha(Opacity=80);
  color: #fff;
}
.top-info > small {
  font-size: 11px;
  display: block;
  margin-top: -2px;
}

.bottom-info {
  display: block;
  font-size: 11px;
  padding: 4px 8px 5px 8px;
  font-weight: 600;
  border-radius: 0 0 2px 2px;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
}

@media (max-width: 478px) {
  .info-blocks > li {
    width: 100%;
    margin: 10px 0;
  }
}





/*===== Page stats =====*/

.page-stats {
  margin-left: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
}
.page-stats li {
  padding: 12px 18px;
  display: inline-block;
}
.page-stats li.bg-default {
  background-color: transparent;
  border: none;
}
.page-stats li.bg-default + li {
  border-left: 0;
}
.page-stats li:first-child {
  border-radius: 2px 0 0 2px;
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
}
.page-stats li:last-child {
  border-radius: 0 2px 2px 0;
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
}

.page-stats-showcase {
  float: left;
  margin-right: 18px;
}
.page-stats-showcase span {
  font-weight: 600;
  font-size: 11px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 4px;
}
.page-stats-showcase h2 {
  margin: 0;
  font-size: 20px;
  line-height: 20px;
}

@media (max-width: 991px) {
  .page-stats.list-justified li.background-default {
    border-left: 1px solid #ddd;
  }
  .page-stats.list-justified li {
    margin-top: 20px;
  }
  .page-stats.list-justified li:first-child {
    margin-top: 0;
  }
}







/*===== Other styles =====*/

.block {
  margin-bottom: 35px;
}
.block-inner {
  margin-bottom: 20px;
  display: block;
}

.with-padding {
  padding: 16px;
}

.subtitle {
  display: block;
  font-weight: 600;
  margin-bottom: 10px;
}
.subtitle i {
  float: left;
  margin: 0 6px 0 0;
  color: white;
}

.language.dropdown > a > img {
  float: left;
  margin: 0 6px 0 0;
}

label.error {
  margin-top: 6px;
  margin-bottom: 0;
  color: #fff;
  background-color: #D65C4F;
  display: table;
  padding: 5px 8px;
  font-size: 11px;
  font-weight: 600;
  line-height: 14px;
}
label.error.valid {
  background-color: #65B688;
}

.mandatory {
  color: #b94a48;
  margin-left: 2px;
}

ul.list-justified li {
  float: none;
  width: 1%;
  display: table-cell;
}

@media (max-width: 991px) {
  ul.list-justified li {
    display: block;
    width: auto;
  }
}


/* # Components ================================================== */

/*===== Page content =====*/
@import "../packages/luma-ui/components/page_content/page_content.import.less";

/* sidebar */
@import "../packages/luma-ui/components/sidebar/sidebar.import.less";

/* breadcrumbs */
@import "../packages/luma-ui/components/breadcrumbs/breadcrumbs.import.less";

/* footer */
@import "../packages/luma-ui/components/footer/footer.import.less";

/* animations */
@import "../packages/luma-ui/components/animations/animations.import.less";

/*===== Uniform. Checkbox =====*/
@import "../packages/luma-ui/components/uniform/checkbox/uniform_checkbox.import.less";

/*===== Uniform. Radio =====*/
@import "../packages/luma-ui/components/uniform/radio/uniform_radio.import.less";

/*===== Select2 plugin =====*/
@import "../packages/luma-ui/components/select2/select2.import.less";

/* ===== Error Pages ===== */
@import "../packages/luma-ui/components/error_pages/error_pages.import.less";