/* # General layout ================================================== */
/*===== Containers =====*/
.container {
  position: relative;
  padding-left: 0;
  padding-right: 0;
}
.container-fluid {
  position: relative;
  padding-right: 25px;
  padding-left: 25px;
}
/*===== Adding vertical spacing to responsive grid =====*/
@media (max-width: 767px) {
  [class*="col-sm-"] + [class*="col-sm-"] {
    margin-top: 20px;
  }

  label[class*="col-sm-"] + [class*="col-sm-"] {
    margin-top: 0;
  }
  [class*="col-sm-"] + [class*="col-xs-"],
  [class*="col-sm-"] + [class*="col-md-"],
  [class*="col-sm-"] + [class*="col-lg-"] {
    margin-top: 0;
  }
  // TODO : move to form component
  .form-horizontal label[class*="col-sm-"] {
    padding-top: 0;
  }
}

@media (max-width: 991px) {
  [class*="col-md-"] + [class*="col-md-"] {
    margin-top: 20px;
  }
  label[class*="col-md-"] + [class*="col-md-"] {
    margin-top: 0;
  }
  [class*="col-md-"] + [class*="col-xs-"],
  [class*="col-md-"] + [class*="col-sm-"],
  [class*="col-md-"] + [class*="col-lg-"] {
    margin-top: 0;
  }
  // TODO : move to form component
  .form-horizontal label[class*="col-md-"] {
    padding-top: 0;
  }
}

@media (max-width: 1199px) {
  [class*="col-lg-"] + [class*="col-lg-"] {
    margin-top: 20px;
  }
  label[class*="col-lg-"] + [class*="col-lg-"] {
    margin-top: 0;
  }
  [class*="col-lg-"] + [class*="col-xs-"],
  [class*="col-lg-"] + [class*="col-sm-"],
  [class*="col-lg-"] + [class*="col-md-"] {
    margin-top: 0;
  }
  // TODO: move to form component
  .form-horizontal label[class*="col-lg-"] {
    padding-top: 0;
  }
}

/* # Page layout
================================================== */


/*===== Page content =====*/

.sidebar-content {
  margin-top: 54px;
  position: relative;
}

.page-content {
  margin: 0 25px 0 265px;
  position: relative;
}

.sidebar-narrow .page-content {
  margin-left: 85px;
}

.sidebar-hidden .page-content {
  margin: 0 25px!important;
}

.full-width .page-content {
  margin: 0 25px;
}





/*===== Sidebar toggle button =====*/

.sidebar-toggle {
  position: absolute;
  right: 0;
  top: 12px;
  line-height: 1;
  color: #fff;
  padding: 6px 7px 7px 7px;
  background-color: rgba(0, 0, 0, 0.2);
  height: 30px;
}
.sidebar-toggle:hover, .sidebar-toggle:focus {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
}





/*===== Sidebars =====*/

.sidebar-wide .sidebar {
  width: 240px;
  background-color: #3A4B55;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  z-index: 10;
}
.sidebar-wide.sidebar-right .sidebar {
  left: auto;
  right: 0;
}
.sidebar-wide.sidebar-right .navigation > li > a > i {
  right: 16px;
}
.sidebar-wide.sidebar-right .page-content {
  margin: 0 265px 0 25px;
}
.sidebar-right .navigation > li > a {
  border-left: 0;
  border-right: 3px solid transparent;
}
.sidebar-right .navigation > li:hover > a {
  border-left: 0;
  border-right: 3px solid #65B688;
}

/*--*/

.sidebar-narrow .sidebar {
  width: 60px;
  background-color: #3A4B55;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  z-index: 10;
}
.sidebar-narrow.sidebar-right .sidebar {
  left: auto;
  right: 0;
}
.sidebar-narrow.sidebar-right .page-content {
  margin: 0 85px 0 25px;
}
.sidebar-narrow.sidebar-right .navigation > li > a {
  padding-right: 0;
  padding-left: 3px;
}
.sidebar-narrow.sidebar-right .navigation > li > ul {
  left: auto;
  right: 100%;
  border-radius: 2px 0 0 2px;
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
}
.sidebar-narrow.sidebar-right .navigation > li:hover > ul {
  border-left: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}


/* Hide/show left narrow sidebar */
.sidebar-narrow .sidebar-hidden .sidebar {
  left: -60px;
}


/* Hide/show left narrow sidebar */
.sidebar-narrow.sidebar-right .sidebar-hidden .sidebar {
  left: auto;
  right: -60px;
}


/* Hide/show default left wide sidebar */
.sidebar-wide .sidebar-hidden .sidebar {
  left: -240px;
}


/* Hide/show default left wide sidebar */
.sidebar-wide.sidebar-right .sidebar-hidden .sidebar {
  left: auto;
  right: -240px;
}


/* Hide/show right wide sidebar */
.sidebar-wide-right .sidebar-wide {
  left: auto;
  right: 0;
}
.sidebar-wide-right .page-content {
  margin: 0 265px 0 25px;
}
.hidden-sidebar-wide-right .sidebar-wide {
  right: -240px;
}
.hidden-sidebar-wide-right .page-content {
  margin: 0 25px;
}


/* Hide/show right narrow sidebar */
.sidebar-narrow-right .sidebar-narrow {
  left: auto;
  right: 0;
}
.sidebar-narrow-right .page-content {
  margin: 0 85px 0 25px;
}
.hidden-sidebar-narrow-right .sidebar-narrow {
  right: -60px;
}
.hidden-sidebar-narrow-right .page-content {
  margin: 0 25px;
}



/*===== Main navigation ====*/

.navigation {
  list-style: none;
  margin: 0 0 35px 0;
  padding: 0;
  border-bottom: 1px solid #49565D;
}
.navigation li {
  position: relative;
}
.navigation > li {
  border-top: 1px solid #49565D;
  position: relative;
}

.navigation > li.active > a,
.navigation > li.active:hover > a,
.navigation > li.active:focus > a {
  color: #fff;
  background-color: #65B688;
}
.navigation > li.active > a > i {
  opacity: 1;
  filter: alpha(Opacity=100);
}
.navigation > li > a {
  color: #fff;
  padding: 13px 40px 14px 14px;
  display: block;
  border-left: 3px solid transparent;
}
.navigation > li:hover > a {
  color: #FFF;
  border-left: 3px solid #65B688;
  background-color: #2C3A42;
}
.navigation > li:hover > a > i {
  opacity: 1;
  filter: alpha(Opacity=100);
}
.navigation > li > a > i {
  font-size: 16px;
  position: absolute;
  right: 14px;
  top: 13px;
  opacity: 0.5;
  filter: alpha(Opacity=50);
}

.navigation > li > a.level-opened {
  background-color: #65B688;
}
.navigation > li > a.level-opened > i {
  opacity: 1;
  filter: alpha(Opacity=100);
}

.navigation > li ul {
  display: none;
  margin: 0;
  padding: 0;
  background-color: #2D3A42;
  font-size: 11px;
  list-style: none;
}
.navigation > li ul > li {
  border-top: 1px solid #35454B;
}
.navigation > li ul > li:first-child {
  border-top: 0;
}
.navigation > li ul > li.active a, .navigation > li ul > li.active a:hover {
  background-color: #223035;
}

.navigation > li ul > li > a.expand:after {
  content: "";
  background: url(http://localhost:3000/images/interface/plus.png) no-repeat;
  opacity: 0.4;
  filter: alpha(Opacity=40);
  margin-top: 4px;
  float: right;
  width: 7px;
  height: 7px;
  margin-right: 2px;
}
.navigation > li ul > li > a.level-opened:after {
  content: "";
  background: url(http://localhost:3000/images/interface/minus.png) no-repeat;
  opacity: 1;
  filter: alpha(Opacity=100);
  margin: 4px 2px 0 10px;
  float: right;
  width: 7px;
  height: 7px;
}
.navigation > li ul > li.active a:after {
  content: "";
  width: 5px;
  height: 9px;
  opacity: 0.9;
  filter: alpha(Opacity=90);
  margin: 4px 2px 6px 0;
  float: right;
  background: url(http://localhost:3000/images/interface/nav_arrow_right.png) no-repeat;
}

.navigation > li ul > li > a {
  display: block;
  padding: 13px 14px 14px 24px;
  color: #fff;
}
.navigation > li ul > li > a:hover {
  background: #27353A;
}
.navigation > li ul > li > a .label {
  position: absolute;
  top: 9px;
  right: 12px;
}
.navigation > li ul > li.active > a .label {
  right: 30px;
}
.navigation > li ul li ul a {
  display: block;
  color: #fff;
}
.navigation > li ul li a.level-opened,
.navigation > li ul li a.level-opened:hover {
  background-color: #65B688;
}

.navigation > li ul > li > ul > li > a {
  padding-left: 30px;
}
.navigation > li ul > li > ul > li > ul > li > a {
  padding-left: 36px;
}

.navigation li.disabled a {
  opacity: 0.4;
  filter: alpha(Opacity=40);
  cursor: not-allowed;
}
.navigation li.disabled:hover a {
  background: none;
  border-color: transparent;
}
.navigation > li.disabled:hover > a:after,
.navigation > li.disabled:hover > a > i {
  opacity: 0.5;
  filter: alpha(Opacity=50);
}


/* Left aligned icons */

.navigation-icons-left > li > a {
  padding-right: 14px;
  padding-left: 40px;
}
.navigation-icons-left > li > a > i {
  left: 14px;
  right: auto;
}
.navigation-icons-left > li a.expand:after {
  content: "";
  background: url(http://localhost:3000/images/interface/plus.png) no-repeat;
  opacity: 0.4;
  filter: alpha(Opacity=40);
  margin: 6px 0 0 10px;
  float: right;
  width: 7px;
  height: 7px;
}
.navigation-icons-left > li a.expand:hover:after,
.navigation-icons-left > li.active > a.expand:after {
  opacity: 1;
  filter: alpha(Opacity=100);
}
.navigation-icons-left > li a.level-opened:after {
  content: "";
  background: url(http://localhost:3000/images/interface/minus.png) no-repeat;
  opacity: 1;
  filter: alpha(Opacity=100);
  margin: 6px 0 0 10px;
  float: right;
  width: 7px;
  height: 7px;
}

@media (max-width: 991px) {
  .navigation {
    margin: 0;
  }
}



/*===== Narrow sidebar navigation ====*/

.sidebar-narrow .navigation > li > a > span {
  display: none;
}
.sidebar-narrow .navigation > li > a {
  padding: 17px 3px 18px 0;
  width: 100%;
  text-align: center;
}
.sidebar-narrow .navigation > li > a > i {
  display: block;
  position: static;
}
.sidebar-narrow .navigation > li ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar-narrow .navigation > li > ul {
  width: 220px;
  border-radius: 0 2px 2px 0;
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-left: 1px solid rgba(255,255,255,0.1);
  margin-left: -1px;
  position: absolute;
  display: none;
  top: 0;
  left: 100%;
}
.sidebar-narrow .navigation > li:hover > ul {
  display: block;
}
.sidebar-narrow .navigation > li > ul > li:first-child {
  border-top: 0;
}
.sidebar-narrow .navigation > li > ul > li:first-child > a {
  border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
}
.sidebar-narrow .navigation > li > ul > li:last-child > a {
  border-radius: 0 0 2px 2px;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
}


@media (max-width: 991px) {
  .page-content {
    margin: 0 25px 0 25px!important;
  }

  .sidebar {
    z-index: 100;
  }
  .sidebar-narrow .navigation > li {
    width: 100%;
    border: 1px solid #49565D;
    border-left: 0;
    margin-top: -1px;
  }
  .sidebar-narrow .navigation > li > a > span {
    display: block;
  }
  .sidebar-narrow .navigation > li > a > i {
    position: absolute;
  }
  .sidebar-narrow .navigation > li > a {
    padding: 13px 40px 14px 14px;
    text-align: left;
  }
  .sidebar-narrow .navigation > li > ul {
    z-index: 2;
    top: 100%;
    position: static;
    left: 1px;
    width: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
  }
  .sidebar-narrow.sidebar-right .navigation > li > ul {
    right: 0;
  }
  .sidebar-toggle {
    display: none;
  }
  .sidebar-wide .sidebar-hidden .sidebar,
  .sidebar-narrow .sidebar-hidden .sidebar {
    left: 0;
  }
  .sidebar-narrow.sidebar-right .sidebar-hidden .sidebar,
  .sidebar-wide.sidebar-right .sidebar-hidden .sidebar {
    right: 0;
  }
  .sidebar-wide .sidebar,
  .sidebar-narrow .sidebar {
    max-height: 340px;
    width: 100%;
    min-height: 0;
    overflow-x: visible;
    overflow-y: auto;
    left: 0;
    right: 0;
  }
}

@media (max-width: 768px) {
  .page-content {
    margin: 0 15px 0 15px!important;
  }
}







/*===== Breadcrumbs line and breadcrumb buttons ====*/

.breadcrumb-line {
  margin: 0 0 35px 0;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.8);
  position: relative;
}

.breadcrumb-top {
  margin: 0 -25px;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid transparent;
}
.breadcrumb-top .breadcrumb {
  padding-left: 25px;
  padding-top: 9px;
}
.breadcrumb-top .breadcrumb-buttons {
  margin-right: 25px;
}
.breadcrumb-top .breadcrumb-buttons > li {
  border-left: 0;
  border-right: 1px solid #eee;
}
.breadcrumb-top .breadcrumb-buttons > li:first-child {
  border-left: 1px solid #eee;
}
.breadcrumb-top .breadcrumb-buttons > li > a {
  padding-top: 9px;
}

.breadcrumb-buttons {
  margin: 0;
  padding: 0;
  float: right;
  list-style: none;
  font-size: 0;
  position: relative;
}
.breadcrumb-buttons > li {
  position: relative;
  /* border-left: 1px solid #eee; */
  display: block;
  float: left;
  font-size: 12px;
}
.breadcrumb-buttons > li > a {
  color: #FFFFFF;
  display: block;
  padding: 9px 14px 10px 14px;
  font-weight: 600;
}
.breadcrumb-buttons > li.open > a,
.breadcrumb-buttons > li.open > a:hover {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.2);
}
.breadcrumb-buttons > li.open > a .caret {
  border-top-color: #777;
}
.breadcrumb-buttons > li > a > i {
  float: left;
  display: block;
  margin: 0 6px 0 0;
}
.breadcrumb-buttons > li > a:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: #ffffff;
}
.breadcrumb-buttons .label {
  margin-left: 6px;
  margin: -1px -2px -1px 2px;
  padding: 4px 7px;
}

.breadcrumb-search {
  padding: 14px;
  color: #000000;
}
.breadcrumb-search input[type=text] {
  background: #fff url(http://localhost:3000/images/interface/filter.png) no-repeat 10px;
  padding-left: 30px;
  margin-bottom: 2px;
  color:black;
}

.breadcrumb-toggle {
  position: absolute;
  top: 0;
  right: 0;
}

@media (min-width: 768px) {
  .breadcrumb-buttons {
    display: block;
  }
}

@media (max-width: 767px) {
  .breadcrumb-line {
    border: 0;
    background: none;
  }

  .breadcrumb-top {
    margin: 0 -15px;
  }
  .breadcrumb-top .breadcrumb-buttons {
    margin-right: 0;
  }
  .breadcrumb-top .breadcrumb {
    padding-left: 15px;
  }
  .breadcrumb-top .breadcrumb-toggle {
    right: 3px;
  }

  .breadcrumb-buttons {
    margin-top: -1px;
    background-color: #fff;
    width: 100%;
    border: 1px solid #ddd;
    z-index: 2;
  }
  .breadcrumb-buttons > li {
    float: none;
    width: 1%;
    display: table-cell;
  }
  .breadcrumb-buttons > li:first-child {
    border-left: 0;
  }
  .breadcrumb-buttons > li > a .caret {
    float: right;
    margin-top: 9px;
  }
  .breadcrumb-buttons .dropdown-menu,
  .breadcrumb-buttons .popup.dropdown-menu.dropdown-menu-right {
    float: left!important;
    left: -1px;
    right: -1px;
  }
  .breadcrumb-buttons > li {
    position: static;
  }
  .breadcrumb-buttons .dropdown-menu {
    margin-top: 2px;
  }
  .breadcrumb-buttons .popup-header:before,
  .breadcrumb-buttons .popup-header:after,
  .breadcrumb-buttons .dropdown-menu > li:first-child:before,
  .breadcrumb-buttons .dropdown-menu > li:first-child:after {
    content: "";
    border: 0;
  }
}

@media (max-width: 479px) {
  .breadcrumb-buttons > li > a > span,
  .breadcrumb-buttons > li > a .caret {
    display: none;
    float: none;
  }
  .breadcrumb-buttons > li {
    text-align: center;
  }
  .breadcrumb-buttons > li > a > i,
  .language.dropdown > a > img {
    float: none;
    margin: 0;
    display: inline-block;
  }
  .breadcrumb-buttons > li > a {
    height: 36px;
  }
}




/*===== Footer =====*/

.footer {
  border-top: 5px solid rgba(255,255,255, 0.1);
  padding: 12px 0;
  text-align: center;
  font-size: 11px;
}

@media (max-width: 480px) {
  .footer .icons-group {
    display: none;
  }
}