<template name="user_profile_info_form">
    <!-- Profile information -->
    <form action="#" class="block" role="form">
        <h6 class="heading-hr"><i class="icon-user"></i> Profile information:</h6>

        <div class="block-inner">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>First name</label>
                        <input type="text" value="Eugene" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label>Last name</label>
                        <input type="text" value="Kopyov" class="form-control">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>Address line 1</label>
                        <input type="text" value="Ring street 12" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label>Address line 2</label>
                        <input type="text" value="building D, flat #67" class="form-control">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label>City</label>
                        <input type="text" value="Munich" class="form-control">
                    </div>
                    <div class="col-md-4">
                        <label>State/Province</label>
                        <input type="text" value="Bayern" class="form-control">
                    </div>
                    <div class="col-md-4">
                        <label>ZIP code</label>
                        <input type="text" value="1031" class="form-control">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>Email</label>
                        <input type="text" readonly="readonly" value="eugene@kopyov.com" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label>Your country:</label>
                        <select data-placeholder="Choose a Country..." class="select-full" tabindex="2">
                            <option value=""></option>
                            <option value="Cambodia">Cambodia</option>
                            <option value="Cameroon">Cameroon</option>
                            <option value="Canada">Canada</option>
                            <option value="Cape Verde">Cape Verde</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>Phone #</label>
                        <input type="text" value="+99-99-9999-9999" data-mask="+99-99-9999-9999" class="form-control">
                        <span class="help-block">+99-99-9999-9999</span>
                    </div>

                    <div class="col-md-6">
                        <label>Upload profile image:</label>
                        <input type="file" class="styled form-control" id="report-screenshot">
                        <span class="help-block">Accepted formats: gif, png, jpg. Max file size 2Mb</span>
                    </div>
                </div>
            </div>
        </div>


        <h6 class="heading-hr"><i class="icon-lock"></i> Security information:</h6>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label>Username:</label>
                    <input type="text" value="Kopyov" readonly="readonly" class="form-control">
                </div>
                <div class="col-md-6">
                    <label>Current password:</label>
                    <input type="password" value="password" readonly="readonly" class="form-control">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label>New password:</label>
                    <input type="password" placeholder="Enter new password" class="form-control">
                </div>
                <div class="col-md-6">
                    <label>Repeat password:</label>
                    <input type="password" placeholder="Repeat new password" class="form-control">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label>Profile visibility: </label>
                    <div class="radio">
                        <label>
                            <input type="radio" name="visibility" class="styled" checked="checked">
                            Visible to everyone
                        </label>
                    </div>

                    <div class="radio">
                        <label>
                            <input type="radio" name="visibility" class="styled">
                            Visible to friends only
                        </label>
                    </div>

                    <div class="radio">
                        <label>
                            <input type="radio" name="visibility" class="styled">
                            Visible to my connections only
                        </label>
                    </div>

                    <div class="radio">
                        <label>
                            <input type="radio" name="visibility" class="styled">
                            Visible to my colleagues only
                        </label>
                    </div>
                </div>

                <div class="col-md-6">
                    <label>Notifications: </label>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" class="styled" checked="checked">
                            Password expiration notification
                        </label>
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" class="styled" checked="checked">
                            New message notification
                        </label>
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" class="styled" checked="checked">
                            New task notification
                        </label>
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" class="styled">
                            New contact request notification
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-right">
            <input type="reset" value="Cancel" class="btn btn-default">
            <input type="submit" value="Apply changes" class="btn btn-success">
        </div>

    </form>
    <!-- /profile information -->
</template>