<template name="team_grid">
    <!-- team_grid -->
    {{> top_option_bar_form }}
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            {{> contacts_block }}
            {{> contacts_block }}
            {{> contacts_block }}
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            {{> contacts_block }}
            {{> contacts_block }}
            {{> contacts_block }}
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            {{> contacts_block }}
            {{> contacts_block }}
            {{> contacts_block }}
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            {{> contacts_block }}
            {{> contacts_block }}
            {{> contacts_block }}
        </div>
    </div>
    {{> pagination }}
    <!-- /team_grid -->
</template>