<template name="team_table">
<div class="datatable-media">
<table class="table table-striped">
<thead>
<tr>
    <th class="image-column">Image</th>
    <th>Name</th>
    <th>Position</th>
    <th>Profile info</th>
    <th class="team-links">Links</th>
</tr>
</thead>
<tbody>
<tr>
    <td class="text-center">
        <a href="http://placehold.it/300" class="lightbox" title="Eugene A. Kopyov"><img src="http://placehold.it/300" alt="" class="img-media"></a>
    </td>
    <td class="text-semibold">Eugene A. Kopyov</td>
    <td class="muted">UX designer</td>
    <td class="file-info">
        <span><strong>With us from:</strong> May 13, 2010</span>
        <span><strong>Location:</strong> <a href="#">Hague, Netherlands</a></span>
    </td>
    <td class="text-center">
        <div class="icons-group">
            <a href="#" title="Google Drive" class="tip"><i class="icon-google-drive"></i></a>
            <a href="#" title="Twitter" class="tip"><i class="icon-twitter"></i></a>
            <a href="#" title="Github" class="tip"><i class="icon-github3"></i></a>
        </div>
    </td>
</tr>
<tr>
    <td class="text-center">
        <a href="http://placehold.it/300" class="lightbox" title="Sophia R. McJamer"><img src="http://placehold.it/300" alt="" class="img-media"></a>
    </td>
    <td class="text-semibold">Sophia R. McJamer</td>
    <td class="muted">Media designe</td>
    <td class="file-info">
        <span><strong>With us from:</strong> May 10, 2009</span>
        <span><strong>Location:</strong> <a href="#">Amsterdam, Netherlands</a></span>
    </td>
    <td class="text-center">
        <div class="icons-group">
            <a href="#" title="Google Drive" class="tip"><i class="icon-google-drive"></i></a>
            <a href="#" title="Twitter" class="tip"><i class="icon-twitter"></i></a>
            <a href="#" title="Github" class="tip"><i class="icon-github3"></i></a>
        </div>
    </td>
</tr>
<tr>
    <td class="text-center">
        <a href="http://placehold.it/300" class="lightbox" title="Noah Kennedy"><img src="http://placehold.it/300" alt="" class="img-media"></a>
    </td>
    <td class="text-semibold">Noah Kennedy</td>
    <td class="muted">CEO &amp; founder</td>
    <td class="file-info">
        <span><strong>With us from:</strong> January 13, 2007</span>
        <span><strong>Location:</strong> <a href="#">Berlin, Germany</a></span>
    </td>
    <td class="text-center">
        <div class="icons-group">
            <a href="#" title="Google Drive" class="tip"><i class="icon-google-drive"></i></a>
            <a href="#" title="Twitter" class="tip"><i class="icon-twitter"></i></a>
            <a href="#" title="Github" class="tip"><i class="icon-github3"></i></a>
        </div>
    </td>
</tr>
<tr>
    <td class="text-center">
        <a href="http://placehold.it/300" class="lightbox" title="Will DeBrandon"><img src="http://placehold.it/300" alt="" class="img-media"></a>
    </td>
    <td class="text-semibold">Will DeBrandon</td>
    <td class="muted">Print designer</td>
    <td class="file-info">
        <span><strong>With us from:</strong> January 12, 2010</span>
        <span><strong>Location:</strong> <a href="#">Kiev, Ukraine</a></span>
    </td>
    <td class="text-center">
        <div class="icons-group">
            <a href="#" title="Google Drive" class="tip"><i class="icon-google-drive"></i></a>
            <a href="#" title="Twitter" class="tip"><i class="icon-twitter"></i></a>
            <a href="#" title="Github" class="tip"><i class="icon-github3"></i></a>
        </div>
    </td>
</tr>
<tr>
    <td class="text-center">
        <a href="http://placehold.it/300" class="lightbox" title="Martin Michael Nielsen"><img src="http://placehold.it/300" alt="" class="img-media"></a>
    </td>
    <td class="text-semibold">Martin Michael Nielsen</td>
    <td class="muted">Front end developer</td>
    <td class="file-info">
        <span><strong>With us from:</strong> March 18, 2010</span>
        <span><strong>Location:</strong> <a href="#">London, United Kingdom</a></span>
    </td>
    <td class="text-center">
        <div class="icons-group">
            <a href="#" title="Google Drive" class="tip"><i class="icon-google-drive"></i></a>
            <a href="#" title="Twitter" class="tip"><i class="icon-twitter"></i></a>
            <a href="#" title="Github" class="tip"><i class="icon-github3"></i></a>
        </div>
    </td>
</tr>
<tr>
    <td class="text-center">
        <a href="http://placehold.it/300" class="lightbox" title="Alexander Flynn"><img src="http://placehold.it/300" alt="" class="img-media"></a>
    </td>
    <td class="text-semibold">Alexander Flynn</td>
    <td class="muted">Integration expert</td>
    <td class="file-info">
        <span><strong>With us from:</strong> May 22, 2010</span>
        <span><strong>Location:</strong> <a href="#">Paris, France</a></span>
    </td>
    <td class="text-center">
        <div class="icons-group">
            <a href="#" title="Google Drive" class="tip"><i class="icon-google-drive"></i></a>
            <a href="#" title="Twitter" class="tip"><i class="icon-twitter"></i></a>
            <a href="#" title="Github" class="tip"><i class="icon-github3"></i></a>
        </div>
    </td>
</tr>
<tr>
    <td class="text-center">
        <a href="http://placehold.it/300" class="lightbox" title="Elizabeth Morrison"><img src="http://placehold.it/300" alt="" class="img-media"></a>
    </td>
    <td class="text-semibold">Elizabeth Morrison</td>
    <td class="muted">Back end developer</td>
    <td class="file-info">
        <span><strong>With us from:</strong> June 12, 2008</span>
        <span><strong>Location:</strong> <a href="#">Bangkok, Thailand</a></span>
    </td>
    <td class="text-center">
        <div class="icons-group">
            <a href="#" title="Google Drive" class="tip"><i class="icon-google-drive"></i></a>
            <a href="#" title="Twitter" class="tip"><i class="icon-twitter"></i></a>
            <a href="#" title="Github" class="tip"><i class="icon-github3"></i></a>
        </div>
    </td>
</tr>
<tr>
    <td class="text-center">
        <a href="http://placehold.it/300" class="lightbox" title="Madison Gartner"><img src="http://placehold.it/300" alt="" class="img-media"></a>
    </td>
    <td class="text-semibold">Madison Gartner</td>
    <td class="muted">Front end developer</td>
    <td class="file-info">
        <span><strong>With us from:</strong> August 30, 2011</span>
        <span><strong>Location:</strong> <a href="#">Hague, Netherlands</a></span>
    </td>
    <td class="text-center">
        <div class="icons-group">
            <a href="#" title="Google Drive" class="tip"><i class="icon-google-drive"></i></a>
            <a href="#" title="Twitter" class="tip"><i class="icon-twitter"></i></a>
            <a href="#" title="Github" class="tip"><i class="icon-github3"></i></a>
        </div>
    </td>
</tr>
<tr>
    <td class="text-center">
        <a href="http://placehold.it/300" class="lightbox" title="Jacob Armstrong"><img src="http://placehold.it/300" alt="" class="img-media"></a>
    </td>
    <td class="text-semibold">Jacob Armstrong</td>
    <td class="muted">Business development</td>
    <td class="file-info">
        <span><strong>With us from:</strong> September 3, 2010</span>
        <span><strong>Location:</strong> <a href="#">Barcelona, Spain</a></span>
    </td>
    <td class="text-center">
        <div class="icons-group">
            <a href="#" title="Google Drive" class="tip"><i class="icon-google-drive"></i></a>
            <a href="#" title="Twitter" class="tip"><i class="icon-twitter"></i></a>
            <a href="#" title="Github" class="tip"><i class="icon-github3"></i></a>
        </div>
    </td>
</tr>
<tr>
    <td class="text-center">
        <a href="http://placehold.it/300" class="lightbox" title="Adam Bexter"><img src="http://placehold.it/300" alt="" class="img-media"></a>
    </td>
    <td class="text-semibold">Adam Bexter</td>
    <td class="muted">Interaction designer</td>
    <td class="file-info">
        <span><strong>With us from:</strong> May 5, 2000</span>
        <span><strong>Location:</strong> <a href="#">Amsterdam, Netherlands</a></span>
    </td>
    <td class="text-center">
        <div class="icons-group">
            <a href="#" title="Google Drive" class="tip"><i class="icon-google-drive"></i></a>
            <a href="#" title="Twitter" class="tip"><i class="icon-twitter"></i></a>
            <a href="#" title="Github" class="tip"><i class="icon-github3"></i></a>
        </div>
    </td>
</tr>
<tr>
    <td class="text-center">
        <a href="http://placehold.it/300" class="lightbox" title="Abigail Applegate"><img src="http://placehold.it/300" alt="" class="img-media"></a>
    </td>
    <td class="text-semibold">Abigail Applegate</td>
    <td class="muted">UI designer</td>
    <td class="file-info">
        <span><strong>With us from:</strong> December 20, 2009</span>
        <span><strong>Location:</strong> <a href="#">Hamburg, Germany</a></span>
    </td>
    <td class="text-center">
        <div class="icons-group">
            <a href="#" title="Google Drive" class="tip"><i class="icon-google-drive"></i></a>
            <a href="#" title="Twitter" class="tip"><i class="icon-twitter"></i></a>
            <a href="#" title="Github" class="tip"><i class="icon-github3"></i></a>
        </div>
    </td>
</tr>
<tr>
    <td class="text-center">
        <a href="http://placehold.it/300" class="lightbox" title="Ryan Riddle"><img src="http://placehold.it/300" alt="" class="img-media"></a>
    </td>
    <td class="text-semibold">Ryan Riddle</td>
    <td class="muted">Lead developer</td>
    <td class="file-info">
        <span><strong>With us from:</strong> May 13, 2010</span>
        <span><strong>Location:</strong> <a href="#">Budapest, Hungary</a></span>
    </td>
    <td class="text-center">
        <div class="icons-group">
            <a href="#" title="Google Drive" class="tip"><i class="icon-google-drive"></i></a>
            <a href="#" title="Twitter" class="tip"><i class="icon-twitter"></i></a>
            <a href="#" title="Github" class="tip"><i class="icon-github3"></i></a>
        </div>
    </td>
</tr>
</tbody>
</table>
</div>
</template>