<template name="taskDetail">
    <!-- taskDetail -->
    <!-- Task detailed -->
    <div class="row">
    <div class="col-lg-8">

        <!-- Task description -->
        <div class="block">
            <h5>Vestibulum a leo eget arcu accumsan</h5>
            <ul class="headline-info">
                <li>Category: <a href="#">UI Design</a></li>
                <li>Status: <span class="text-semibold text-success">On hold</span></li>
                <li>Users assigned: <a href="#">12</a></li>
                <li>Added by: <a href="#">Monica</a></li>
            </ul>

            <p>
                Suspendisse nulla est, malesuada id ligula in, vulputate dignissim tellus. Duis tempus, ante at malesuada eleifend, mi augue aliquam arcu, ut mattis ipsum nibh non risus. Morbi arcu dolor, faucibus vitae sapien non, posuere egestas odio. Sed enim dui, accumsan ac egestas sed, dapibus sit amet sem. Mauris lacinia neque ut odio lobortis, ut tincidunt lectus adipiscing. Vivamus eu varius sem, eget fermentum mi. Nulla volutpat purus ut massa vulputate, vel vehicula leo consequat. Proin interdum ullamcorper magna et sagittis. Cras sed metus sem. Maecenas semper vel lorem ac feugiat.
            </p>

            <hr>

            <h6>What we need:</h6>

            <div class="row block-inner">
                <div class="col-sm-6">
                    <div class="well">
                        <dl>
                            <dt class="text-info">Description lists</dt>
                            <dd>A description list is perfect for defining terms.</dd>

                            <dt class="text-info">Euismod</dt>
                            <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                            <dd>Donec id elit non mi porta gravida at eget metus.</dd>

                            <dt class="text-info">Malesuada porta</dt>
                            <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                        </dl>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="well">
                        <dl>
                            <dt class="text-info">Description lists</dt>
                            <dd>A description list is perfect for defining terms.</dd>

                            <dt class="text-info">Euismod</dt>
                            <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                            <dd>Donec id elit non mi porta gravida at eget metus.</dd>

                            <dt class="text-info">Malesuada porta</dt>
                            <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                        </dl>
                    </div>
                </div>
            </div>

            <div class="block-inner">

                <h6>Overall:</h6>
                <p>
                    Cras porta mauris nec semper commodo. Nulla bibendum tortor vitae libero congue porta. Donec dapibus orci a lorem hendrerit, vel pellentesque nunc lobortis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut in cursus purus, eu mattis lacus. Ut in suscipit massa. Sed posuere orci a sapien feugiat volutpat. Aenean euismod leo vel sagittis pretium. Mauris nec elementum ipsum, a ullamcorper magna. Sed at ullamcorper nunc, ac eleifend augue. Nulla facilisi.
                </p>

            </div>

            <div class="panel-footer">
                <div class="pull-left">
                    <ul class="footer-links-group">
                        <li><i class="icon-plus-circle muted"></i> Added on: <a href="#" class="text-semibold">Sep 13, 2013</a></li>
                        <li><i class="icon-checkmark-circle muted"></i> Due by: <a href="#" class="text-semibold">Oct 13, 2013</a></li>
                        <li class="has-label"><span class="label label-success">89%</span></li>
                        <li><i class="icon-bubble5 muted"></i> <a href="#" class="text-semibold">34 comments</a></li>
                    </ul>
                </div>
                <div class="pull-right">
                    <ul class="footer-icons-group">
                        <li><a href="#"><i class="icon-pencil"></i></a></li>
                        <li><a href="#"><i class="icon-checkmark3"></i></a></li>
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-wrench"></i></a>
                            <ul class="dropdown-menu icons-right dropdown-menu-right">
                                <li><a href="#"><i class="icon-quill2"></i> Edit task</a></li>
                                <li><a href="#"><i class="icon-share2"></i> Reassign</a></li>
                                <li><a href="#"><i class="icon-checkmark3"></i> Complete</a></li>
                                <li><a href="#"><i class="icon-stack"></i> Archive</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /task description -->


        <!-- Comments list -->
        <h6 class="heading-hr"><i class="icon-bubble"></i> Comments</h6>
        <div class="block">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://placehold.it/300" alt="">
                </a>
                <div class="media-body">
                    <a href="#" class="media-heading">Eugene Kopyov</a>
                    <ul class="headline-info">
                        <li><a href="#">Reply</a></li>
                        <li><a href="#">Edit</a></li>
                    </ul>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                </div>
            </div>

            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://placehold.it/300" alt="">
                </a>
                <div class="media-body">
                    <a href="#" class="media-heading">Martin Wolf</a>
                    <ul class="headline-info">
                        <li><a href="#">Reply</a></li>
                        <li><a href="#">Edit</a></li>
                    </ul>
                    Cras tempus pretium ligula, quis viverra purus eleifend et.

                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="http://placehold.it/300" alt="">
                        </a>
                        <div class="media-body">
                            <a href="#" class="media-heading">Alexander Smith</a>
                            <ul class="headline-info">
                                <li><a href="#">Reply</a></li>
                                <li><a href="#">Edit</a></li>
                            </ul>
                            Donec vel porta lorem, at euismod justo. Vestibulum nulla orci, ornare sed auctor ac.
                        </div>
                    </div>
                </div>
            </div>

            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://placehold.it/300" alt="">
                </a>
                <div class="media-body">
                    <a href="#" class="media-heading">Johnny Strong</a>
                    <ul class="headline-info">
                        <li><a href="#">Reply</a></li>
                        <li><a href="#">Edit</a></li>
                    </ul>
                    Quisque dignissim nibh nec massa egestas interdum. Proin congue vulputate velit, sodales mattis neque tempor a.
                </div>
            </div>
        </div>
        <!-- /comments list -->


        <!-- Add comment form -->
        <div class="block">
            <h6><i class="icon-bubble-plus"></i> Add comment</h6>
            <div class="well">
                <form action="#" role="form">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Your name:</label>
                                <input type="text" placeholder="Eugene" class="form-control">
                            </div>

                            <div class="col-md-6">
                                <label>Email address:</label>
                                <input type="text" placeholder="your@email.com" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Your name:</label>
                        <textarea rows="5" cols="5" placeholder="Your message..." class="elastic form-control"></textarea>
                    </div>

                    <div class="form-actions text-right">
                        <input type="reset" value="Cancel" class="btn btn-danger">
                        <input type="submit" value="Add comment" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
        <!-- /add comment form -->

    </div>

    <div class="col-lg-4">

        <!-- Timer -->
        <div class="panel panel-success">
            <div class="panel-heading">
                <h6 class="panel-title"><i class="icon-clock"></i> Task timer</h6>
            </div>

            <div class="panel-body">
                <ul class="timer-weekdays">
                    <li><a href="#" class="label label-info">Mon</a></li>
                    <li class="active"><a href="#" class="label label-success">Tue</a></li>
                    <li><a href="#" class="label label-info">Wed</a></li>
                    <li><a href="#" class="label label-info">Thu</a></li>
                    <li><a href="#" class="label label-danger">Fri</a></li>
                    <li><a href="#" class="label label-primary">Sat</a></li>
                    <li><a href="#" class="label label-primary">Sun</a></li>
                </ul>

                <ul class="timer">
                    <li>
                        21 <span>hours</span>
                    </li>
                    <li class="dots">:</li>
                    <li>
                        37 <span>minutes</span>
                    </li>
                    <li class="dots">:</li>
                    <li>
                        56 <span>seconds</span>
                    </li>
                </ul>
            </div>

            <div class="panel-footer">
                <div class="pull-left">
                    <span><i class="icon-busy"></i> 4 hours</span>
                </div>
                <div class="pull-right">
                    <ul class="footer-icons-group">
                        <li><a href="#"><i class="icon-play2"></i></a></li>
                        <li><a href="#"><i class="icon-pause"></i></a></li>
                        <li><a href="#"><i class="icon-checkmark3"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /timer -->


        <!-- Attached files -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h6 class="panel-title"><i class="icon-link"></i> Attached files</h6>
            </div>
            <ul class="list-group">
                <li class="list-group-item has-button"><i class="icon-file-pdf"></i> <a href="#">Lorem_ipsum_dolor.pdf</a> <a href="#" class="btn btn-link btn-icon"><i class="icon-download"></i></a></li>
                <li class="list-group-item has-button"><i class="icon-file-excel"></i> <a href="#">Nulla_volutpat.xls</a> <a href="#" class="btn btn-link btn-icon"><i class="icon-download"></i></a></li>
                <li class="list-group-item has-button"><i class="icon-file-css"></i> <a href="#">Faucibus_porta_lacus.css</a> <a href="#" class="btn btn-link btn-icon"><i class="icon-download"></i></a></li>
                <li class="list-group-item has-button"><i class="icon-file-excel"></i> <a href="#">Donec_libero_felis_aliquam.xls</a> <a href="#" class="btn btn-link btn-icon"><i class="icon-download"></i></a></li>
                <li class="list-group-item has-button"><i class="icon-file-pdf"></i> <a href="#">Vestibulum_ante_ipsum_primis.pdf</a> <a href="#" class="btn btn-link btn-icon"><i class="icon-download"></i></a></li>
            </ul>
        </div>
        <!-- /attached files -->


        <!-- Assigned users -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h6 class="panel-title"><i class="icon-people"></i> Assigned users</h6>
            </div>
            <ul class="message-list">
                <li class="message-list-header">Developers</li>

                <li>
                    <div class="clearfix">
                        <div class="chat-member">
                            <a href="#"><img src="http://placehold.it/300" alt=""></a>
                            <h6>Eugene Kopyov <small>&nbsp; /&nbsp; Wed developer</small></h6>
                        </div>
                        <div class="chat-actions">
                            <a href="#" class="btn btn-link btn-icon btn-xs"><i class="icon-bubble3"></i></a>
                            <a href="#" class="btn btn-link btn-icon btn-xs"><i class="icon-phone2"></i></a>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="clearfix">
                        <div class="chat-member">
                            <a href="#"><img src="http://placehold.it/300" alt=""></a>
                            <h6>Duncan McMart <small>&nbsp; /&nbsp; Front end dev</small></h6>
                        </div>
                        <div class="chat-actions">
                            <a href="#" class="btn btn-link btn-icon btn-xs"><i class="icon-bubble3"></i></a>
                            <a href="#" class="btn btn-link btn-icon btn-xs"><i class="icon-phone2"></i></a>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="clearfix">
                        <div class="chat-member">
                            <a href="#"><img src="http://placehold.it/300" alt=""></a>
                            <h6>Lucy Smith <small>&nbsp; /&nbsp; UI expert</small></h6>
                        </div>
                        <div class="chat-actions">
                            <a href="#" class="btn btn-link btn-icon btn-xs"><i class="icon-bubble3"></i></a>
                            <a href="#" class="btn btn-link btn-icon btn-xs"><i class="icon-phone2"></i></a>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="clearfix">
                        <div class="chat-member">
                            <a href="#"><img src="http://placehold.it/300" alt=""></a>
                            <h6>Angel Nowak <small>&nbsp; /&nbsp; Usability expert</small></h6>
                        </div>
                        <div class="chat-actions">
                            <a href="#" class="btn btn-link btn-icon btn-xs"><i class="icon-bubble3"></i></a>
                            <a href="#" class="btn btn-link btn-icon btn-xs"><i class="icon-phone2"></i></a>
                        </div>
                    </div>
                </li>

                <li class="message-list-header">Management</li>

                <li>
                    <div class="clearfix">
                        <div class="chat-member">
                            <a href="#"><img src="http://placehold.it/300" alt=""></a>
                            <h6>Vin Dins <small>&nbsp; /&nbsp; CEO</small></h6>
                        </div>
                        <div class="chat-actions">
                            <a href="#" class="btn btn-link btn-icon btn-xs"><i class="icon-bubble3"></i></a>
                            <a href="#" class="btn btn-link btn-icon btn-xs"><i class="icon-phone2"></i></a>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="clearfix">
                        <div class="chat-member">
                            <a href="#"><img src="http://placehold.it/300" alt=""></a>
                            <h6>Robert Razinsky <small>&nbsp; /&nbsp; Team lead</small></h6>
                        </div>
                        <div class="chat-actions">
                            <a href="#" class="btn btn-link btn-icon btn-xs"><i class="icon-bubble3"></i></a>
                            <a href="#" class="btn btn-link btn-icon btn-xs"><i class="icon-phone2"></i></a>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="clearfix">
                        <div class="chat-member">
                            <a href="#"><img src="http://placehold.it/300" alt=""></a>
                            <h6>Mary Robinson <small>&nbsp; /&nbsp; Project manager</small></h6>
                        </div>
                        <div class="chat-actions">
                            <a href="#" class="btn btn-link btn-icon btn-xs"><i class="icon-bubble3"></i></a>
                            <a href="#" class="btn btn-link btn-icon btn-xs"><i class="icon-phone2"></i></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- /assigned users -->

    </div>
    </div>
    <!-- /task detailed -->
    <!-- /taskDetail -->
</template>