<template name="contacts_chat">
    <div class="chat">
        <div class="message">
            <a class="message-img" href="#"><img src="http://placehold.it/300" alt=""></a>
            <div class="message-body">
                <span class="typing"></span>
            </div>
        </div>

        <div class="message reversed">
            <a class="message-img" href="#"><img src="http://placehold.it/300" alt=""></a>
            <div class="message-body">
                Nunc volutpat commodo ullamcorper. Vivamus consequat sapien ac ante pharetra pellentesque. Sed molestie leo vitae erat sagittis, ac posuere nibh faucibus. In nec massa suscipit, sagittis ligula non, accumsan velit.
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames.
                <span class="attribution">14:23pm, 4th Dec 2010</span>
            </div>
        </div>

        <div class="moment">10 Nov, 2013</div>

        <div class="message">
            <a class="message-img" href="#"><img src="http://placehold.it/300" alt=""></a>
            <div class="message-body">
                Aenean dictum vitae tortor vitae placerat. Donec tristique urna tellus, porttitor commodo quam facilisis sit amet. Pellentesque ullamcorper metus sed libero imperdiet, id consequat libero malesuada. Aenean mattis, nisl nec sodales adipiscing, nunc mauris volutpat nulla, quis dictum sapien nibh vitae metus. Fusce vehicula aliquam enim, sed viverra ipsum elementum at
                <span class="attribution">14:23pm, 4th Dec 2010</span>
            </div>
        </div>

        <div class="message reversed">
            <a class="message-img" href="#"><img src="http://placehold.it/300" alt=""></a>
            <div class="message-body">
                Nulla venenatis enim et mi egestas blandit. Praesent in consequat eros, et sagittis metus
                <span class="attribution">14:23pm, 4th Dec 2010</span>
            </div>
        </div>

        <div class="message">
            <a class="message-img" href="#"><img src="http://placehold.it/300" alt=""></a>
            <div class="message-body">
                Mauris at tellus viverra, lobortis elit non, luctus dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla in ornare ligula. Sed in pellentesque justo, vitae tristique urna. Vestibulum congue ligula ac posuere pharetra
                <span class="attribution">14:23pm, 4th Dec 2010</span>
            </div>
        </div>

        <div class="moment">12 Nov, 2013</div>

        <div class="message reversed">
            <a class="message-img" href="#"><img src="http://placehold.it/300" alt=""></a>
            <div class="message-body">
                Pellentesque ut sollicitudin quam, et suscipit lectus. Duis accumsan, purus ac feugiat condimentum, sem risus eleifend mi, vitae sagittis nisi sem nec libero. Nunc mauris tellus, cursus vel faucibus non, accumsan quis risus
                <span class="attribution">14:23pm, 4th Dec 2010</span>
            </div>
        </div>

        <div class="message">
            <a class="message-img" href="#"><img src="http://placehold.it/300" alt=""></a>
            <div class="message-body">
                Morbi lacus nulla, tristique eu hendrerit non, auctor ut arcu. Morbi id ligula mi. Vivamus ultricies lobortis erat sed placerat. Etiam molestie urna pulvinar porta fringilla. Aenean vitae lacinia felis, id laoreet diam
                <span class="attribution">14:23pm, 4th Dec 2010</span>
            </div>
        </div>

        <div class="message reversed">
            <a class="message-img" href="#"><img src="http://placehold.it/300" alt=""></a>
            <div class="message-body">
                Nunc laoreet aliquam enim adipiscing placerat. Donec ac ultricies nisi. Nunc vel varius ante, et luctus elit. In eros urna, dignissim vitae quam eu, facilisis lacinia leo
                <span class="attribution">14:23pm, 4th Dec 2010</span>
            </div>
        </div>
    </div>
</template>