<template name="contacts_newest_team_members">
<!-- Newest team members -->
<h6><i class="icon-people"></i> New team members</h6>
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="block">
            <div class="thumbnail">
                <a href="#" class="thumb-zoom lightbox" title="Eugene A. Kopyov">
                    <img src="http://placehold.it/300">
                </a>

                <div class="caption text-center">
                    <h6>Eugene A. Kopyov <small>UX designer</small></h6>
                    <div class="icons-group">
                        <a href="#" title="Google Drive" class="tip"><i class="icon-google-drive"></i></a>
                        <a href="#" title="Twitter" class="tip"><i class="icon-twitter"></i></a>
                        <a href="#" title="Github" class="tip"><i class="icon-github3"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="block">
            <div class="thumbnail">
                <a href="#" class="thumb-zoom lightbox" title="Sophia R. McJamer">
                    <img src="http://placehold.it/300">
                </a>

                <div class="caption text-center">
                    <h6>Sophia R. McJamer <small>Media designer</small></h6>
                    <div class="icons-group">
                        <a href="#" title="Google Drive" class="tip"><i class="icon-google-drive"></i></a>
                        <a href="#" title="Twitter" class="tip"><i class="icon-twitter"></i></a>
                        <a href="#" title="Github" class="tip"><i class="icon-github3"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="block">
            <div class="thumbnail">
                <a href="#" class="thumb-zoom lightbox" title="Noah Kennedy">
                    <img src="http://placehold.it/300">
                </a>

                <div class="caption text-center">
                    <h6>Noah Kennedy <small>CEO &amp; founder</small></h6>
                    <div class="icons-group">
                        <a href="#" title="Google Drive" class="tip"><i class="icon-google-drive"></i></a>
                        <a href="#" title="Twitter" class="tip"><i class="icon-twitter"></i></a>
                        <a href="#" title="Github" class="tip"><i class="icon-github3"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="block">
            <div class="thumbnail">
                <a href="#" class="thumb-zoom lightbox" title="Will DeBrandon">
                    <img src="http://placehold.it/300">
                </a>

                <div class="caption text-center">
                    <h6>Will DeBrandon <small>Print designer</small></h6>
                    <div class="icons-group">
                        <a href="#" title="Google Drive" class="tip"><i class="icon-google-drive"></i></a>
                        <a href="#" title="Twitter" class="tip"><i class="icon-twitter"></i></a>
                        <a href="#" title="Github" class="tip"><i class="icon-github3"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /newest team members -->
</template>