<template name="search">
    <!-- search -->
    {{> search_line }}


    <!-- Page tabs -->
    <div class="tabbable page-tabs">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#classic" data-toggle="tab"><i class="icon-paragraph-justify2"></i> Classic <span class="text-danger label-text">(236)</span></a></li>
        <li><a href="#images" data-toggle="tab"><i class="icon-images"></i> Images <span class="text-danger label-text">(8)</span></a></li>
        <li><a href="#videos" data-toggle="tab"><i class="icon-movie"></i> Videos <span class="text-danger label-text">(12)</span></a></li>
        <li><a href="#people" data-toggle="tab"><i class="icon-people"></i> People <span class="text-danger label-text">(53)</span></a></li>
        <li><a href="#tasks" data-toggle="tab"><i class="icon-grid"></i> Tasks <span class="text-danger label-text">(24)</span></a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cogs"></i> Settings <b class="caret"></b></a>
            <ul class="dropdown-menu icons-right dropdown-menu-right">
                <li><a href="#"><i class="icon-cogs"></i> This is</a></li>
                <li><a href="#"><i class="icon-grid3"></i> Dropdown</a></li>
                <li><a href="#"><i class="icon-spinner7"></i> With right</a></li>
                <li><a href="#"><i class="icon-link"></i> Aligned icons</a></li>
            </ul>
        </li>
    </ul>

    <div class="tab-content">

    <!-- First tab -->
    <div class="tab-pane active fade in" id="classic">

        <!-- Classic search results -->
        <ul class="search-results">
            <li>
                <h6><a href="#">Quisque quis erat at quam <strong>ipsum</strong> venenatis. Aliquam erat volutpat</a></h6>
                <a href="#" class="result-url">http://luma-pictures.com</a>
                <p>Aliquam vitae pellentesque mauris, varius fringilla erat. Mauris vel ante at nulla pretium vulputate ut vel justo. Curabitur non mi ut enim <strong>ultrices</strong> luctus. Ut imperdiet leo mi, non tincidunt massa vehicula eget. Pellentesque id ipsum...</p>
            </li>

            <li>
                <h6><a href="#">Quisque in facilisis <strong>ipsum</strong>. Sed porta et quam quis placerat</a></h6>
                <a href="#" class="result-url">http://luma-pictures.com</a>
                <p>Pellentesque aliquam euismod massa, sed egestas orci adipiscing ut. Sed id nibh et metus accumsan commodo. In malesuada <strong>ultrices</strong> et ullamcorper egestas. Phasellus dapibus in eros at condimentum. Duis justo turpis, aliquet ut neque nec, congue placerat nunc...</p>
            </li>

            <li>
                <h6><a href="#">Fusce enim felis, tincidunt sed placerat vel, tincidunt <strong>ipsum</strong> lorem</a></h6>
                <a href="#" class="result-url">http://luma-pictures.com</a>
                <p>Nullam eget varius purus, non elementum ante. Nunc at justo vel dui elementum convallis eu sed nulla. Maecenas <strong>ultrices</strong> dignissim leo at viverra. Maecenas aliquet dignissim leo at viverra. In accumsan nunc quis nunc interdum feugiat. Vestibulum porta...</p>
            </li>

            <li>
                <h6><a href="#">Duis eu odio et tellus <strong>ipsum</strong> interdum. Curabitur suscipit</a></h6>
                <a href="#" class="result-url">http://luma-pictures.com</a>
                <p>Duis quis urna velit. Aliquam facilisis congue risus, nec consequat <strong>ultrices</strong> posuere at. Integer eget nisl vitae tortor tempus vulputate. Proin et risus nulla. Proin ante ligula, fringilla nec pellentesque at, tempus ac urna. Mauris vehicula lorem eu...</p>
            </li>

            <li>
                <h6><a href="#">Aenean pharetra pretium tristique. Maecenas <strong>ipsum</strong></a></h6>
                <a href="#" class="result-url">http://luma-pictures.com</a>
                <p>Ut euismod aliquam dui, at dapibus dui vulputate at. Quisque <strong>ultrices</strong> commodo cursus. Duis auctor tempor elit, vel lacinia elit lobortis ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id enim non sapien accumsan tincidunt quis...</p>
            </li>

            <li>
                <h6><a href="#">Nullam <strong>ipsum</strong> fringilla est, vitae rutrum dui fringilla in</a></h6>
                <a href="#" class="result-url">http://luma-pictures.com</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pellentesque <strong>ultrices</strong> a erat elementum ullamcorper. Integer at aliquam nibh, a sagittis velit. Pellentesque dapibus libero sed est sollicitudin, et aliquet mi sodales. Proin fringilla...</p>
            </li>

            <li>
                <h6><a href="#">Curabitur eget <strong>ipsum</strong> eu felis faucibus varius</a></h6>
                <a href="#" class="result-url">http://luma-pictures.com</a>
                <p>Nullam bibendum mauris eget tortor malesuada, eu <strong>ultrices</strong> est tempor. Proin feugiat velit vitae eros accumsan semper. Suspendisse justo sem, interdum sit amet ligula nec, facilisis congue justo. Curabitur consectetur risus ligula, nec mollis ac...</p>
            </li>

            <li>
                <h6><a href="#">Nulla eu ligula adipiscing, venenatis <strong>ipsum</strong> non, egestas nibh</a></h6>
                <a href="#" class="result-url">http://luma-pictures.com</a>
                <p>Integer at ante vestibulum, fermentum orci quis, eleifend lorem. Etiam imperdiet lacus vel <strong>ultrices</strong> ultricies, non rhoncus justo condimentum. Fusce venenatis felis sit amet pharetra blandit. Donec et ultricies lacus, eget pharetra lectus varius...</p>
            </li>

            <li>
                <h6><a href="#">Donec diam sapien, <strong>ipsum</strong> commodo metus</a></h6>
                <a href="#" class="result-url">http://luma-pictures.com</a>
                <p>Aenean euismod commodo <strong>ultrices</strong> et venenatis. Maecenas dignissim urna urna. Nulla ut sagittis augue. In id est ut nisl imperdiet sollicitudin sit amet sed nisl. Curabitur tempus odio diam. Curabitur eget laoreet lectus. Quisque feugiat...</p>
            </li>

            <li>
                <h6><a href="#">Maecenas auctor elit ut <strong>ipsum</strong> porta aliquam</a></h6>
                <a href="#" class="result-url">http://luma-pictures.com</a>
                <p>Ut eget eros adipiscing, pharetra tellus vitae, vehicula purus. Curabitur et <strong>ultrices</strong> a turpis mollis euismod et eget erat. Praesent posuere sapien in nulla pellentesque lacinia. Integer quis tellus turpis. Etiam tincidunt nunc eget diam ultrices...</p>
            </li>
        </ul>
        <!-- /classic search results -->


        <!-- Pagination -->
        <div class="block text-center">
            <ul class="pagination">
                <li><a href="#">←</a></li>
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">→</a></li>
            </ul>
        </div>
        <!-- /pagination -->

    </div>
    <!-- /first tab -->


    <!-- Second tab -->
    <div class="tab-pane fade" id="images">

        <!-- With titles (frame) -->
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="block">
                    <div class="thumbnail thumbnail-boxed">
                        <div class="thumb">
                            <img alt="" src="http://placehold.it/300">
                            <div class="thumb-options">
												<span>
													<a href="#" class="btn btn-icon btn-success"><i class="icon-quill2"></i></a>
													<a href="#" class="btn btn-icon btn-success"><i class="icon-remove"></i></a>
												</span>
                            </div>
                        </div>
                        <div class="caption">
                            <a href="#" title="" class="caption-title">Aenean Malesuada Consectetur Risus</a>
                            Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur mollis ornare vel leo.
                        </div>
                    </div>
                </div>

                <div class="block">
                    <div class="thumbnail thumbnail-boxed">
                        <div class="thumb">
                            <img alt="" src="http://placehold.it/300">
                            <div class="thumb-options">
												<span>
													<a href="#" class="btn btn-icon btn-success"><i class="icon-quill2"></i></a>
													<a href="#" class="btn btn-icon btn-success"><i class="icon-remove"></i></a>
												</span>
                            </div>
                        </div>
                        <div class="caption">
                            <a href="#" title="" class="caption-title">Aenean Malesuada Consectetur Risus</a>
                            Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur mollis ornare vel leo.
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="block">
                    <div class="thumbnail thumbnail-boxed">
                        <div class="thumb">
                            <img alt="" src="http://placehold.it/300">
                            <div class="thumb-options">
												<span>
													<a href="#" class="btn btn-icon btn-success"><i class="icon-quill2"></i></a>
													<a href="#" class="btn btn-icon btn-success"><i class="icon-remove"></i></a>
												</span>
                            </div>
                        </div>
                        <div class="caption">
                            <a href="#" title="" class="caption-title">Aenean Malesuada Consectetur Risus</a>
                            Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur mollis ornare vel leo.
                        </div>
                    </div>
                </div>

                <div class="block">
                    <div class="thumbnail thumbnail-boxed">
                        <div class="thumb">
                            <img alt="" src="http://placehold.it/300">
                            <div class="thumb-options">
												<span>
													<a href="#" class="btn btn-icon btn-success"><i class="icon-quill2"></i></a>
													<a href="#" class="btn btn-icon btn-success"><i class="icon-remove"></i></a>
												</span>
                            </div>
                        </div>
                        <div class="caption">
                            <a href="#" title="" class="caption-title">Aenean Malesuada Consectetur Risus</a>
                            Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur mollis ornare vel leo.
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="block">
                    <div class="thumbnail thumbnail-boxed">
                        <div class="thumb">
                            <img alt="" src="http://placehold.it/300">
                            <div class="thumb-options">
												<span>
													<a href="#" class="btn btn-icon btn-success"><i class="icon-quill2"></i></a>
													<a href="#" class="btn btn-icon btn-success"><i class="icon-remove"></i></a>
												</span>
                            </div>
                        </div>
                        <div class="caption">
                            <a href="#" title="" class="caption-title">Aenean Malesuada Consectetur Risus</a>
                            Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur mollis ornare vel leo.
                        </div>
                    </div>
                </div>

                <div class="block">
                    <div class="thumbnail thumbnail-boxed">
                        <div class="thumb">
                            <img alt="" src="http://placehold.it/300">
                            <div class="thumb-options">
												<span>
													<a href="#" class="btn btn-icon btn-success"><i class="icon-quill2"></i></a>
													<a href="#" class="btn btn-icon btn-success"><i class="icon-remove"></i></a>
												</span>
                            </div>
                        </div>
                        <div class="caption">
                            <a href="#" title="" class="caption-title">Aenean Malesuada Consectetur Risus</a>
                            Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur mollis ornare vel leo.
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="block">
                    <div class="thumbnail thumbnail-boxed">
                        <div class="thumb">
                            <img alt="" src="http://placehold.it/300">
                            <div class="thumb-options">
												<span>
													<a href="#" class="btn btn-icon btn-success"><i class="icon-quill2"></i></a>
													<a href="#" class="btn btn-icon btn-success"><i class="icon-remove"></i></a>
												</span>
                            </div>
                        </div>
                        <div class="caption">
                            <a href="#" title="" class="caption-title">Aenean Malesuada Consectetur Risus</a>
                            Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur mollis ornare vel leo.
                        </div>
                    </div>
                </div>

                <div class="block">
                    <div class="thumbnail thumbnail-boxed">
                        <div class="thumb">
                            <img alt="" src="http://placehold.it/300">
                            <div class="thumb-options">
												<span>
													<a href="#" class="btn btn-icon btn-success"><i class="icon-quill2"></i></a>
													<a href="#" class="btn btn-icon btn-success"><i class="icon-remove"></i></a>
												</span>
                            </div>
                        </div>
                        <div class="caption">
                            <a href="#" title="" class="caption-title">Aenean Malesuada Consectetur Risus</a>
                            Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur mollis ornare vel leo.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /with titles (frame) -->


        <!-- Pagination -->
        <div class="block text-center">
            <ul class="pagination">
                <li><a href="#">←</a></li>
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">→</a></li>
            </ul>
        </div>
        <!-- /pagination -->

    </div>
    <!-- /second tab -->


    <!-- Third tab -->
    <div class="tab-pane fade" id="videos">

        <!-- Video with titles (frame) -->
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="block">
                    <div class="thumbnail thumbnail-boxed">
                        <div class="thumb">
                            <iframe src="http://www.youtube.com/embed/yo3M6EB8kmk"></iframe>
                        </div>
                        <div class="caption">
                            <a href="#" title="" class="caption-title">Aenean Malesuada Consectetur Risus</a>
                            Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur mollis ornare vel leo.
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="block">
                    <div class="thumbnail thumbnail-boxed">
                        <div class="thumb">
                            <iframe src="http://www.youtube.com/embed/A3PDXmYoF5U"></iframe>
                        </div>
                        <div class="caption">
                            <a href="#" title="" class="caption-title">Aenean Malesuada Consectetur Risus</a>
                            Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur mollis ornare vel leo.
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="block">
                    <div class="thumbnail thumbnail-boxed">
                        <div class="thumb">
                            <iframe src="http://www.youtube.com/embed/GUEZCxBcM78"></iframe>
                        </div>
                        <div class="caption">
                            <a href="#" title="" class="caption-title">Aenean Malesuada Consectetur Risus</a>
                            Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur mollis ornare vel leo.
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="block">
                    <div class="thumbnail thumbnail-boxed">
                        <div class="thumb">
                            <iframe src="http://www.youtube.com/embed/GLC2BrmcYTY"></iframe>
                        </div>
                        <div class="caption">
                            <a href="#" title="" class="caption-title">Aenean Malesuada Consectetur Risus</a>
                            Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur mollis ornare vel leo.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /video with titles (frame) -->

    </div>
    <!-- /third tab -->


    <!-- Fourth tab -->
    <div class="tab-pane fade" id="people">

    <!-- Contacts (table) -->
    <div class="block">
    <div class="datatable-media">
    <table class="table table-striped">
    <thead>
    <tr>
        <th class="image-column">Image</th>
        <th>Name</th>
        <th>Position</th>
        <th>Profile info</th>
        <th class="team-links">Links</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="text-center">
            <a href="http://placehold.it/300" class="lightbox" title="Austin Rivas"><img src="http://placehold.it/300" alt="" class="img-media"></a>
        </td>
        <td class="text-semibold">Austin Rivas</td>
        <td class="muted">UX designer</td>
        <td class="file-info">
            <span><strong>With us from:</strong> May 13, 2010</span>
            <span><strong>Location:</strong> <a href="#">Hague, Netherlands</a></span>
        </td>
        <td class="text-center">
            <div class="icons-group">
                <a href="#" title="Google Drive" class="tip"><i class="icon-google-drive"></i></a>
                <a href="#" title="Twitter" class="tip"><i class="icon-twitter"></i></a>
                <a href="#" title="Github" class="tip"><i class="icon-github3"></i></a>
            </div>
        </td>
    </tr>
    <tr>
        <td class="text-center">
            <a href="http://placehold.it/300" class="lightbox" title="Sophia R. McJamer"><img src="http://placehold.it/300" alt="" class="img-media"></a>
        </td>
        <td class="text-semibold">Sophia R. McJamer</td>
        <td class="muted">Media designe</td>
        <td class="file-info">
            <span><strong>With us from:</strong> May 10, 2009</span>
            <span><strong>Location:</strong> <a href="#">Amsterdam, Netherlands</a></span>
        </td>
        <td class="text-center">
            <div class="icons-group">
                <a href="#" title="Google Drive" class="tip"><i class="icon-google-drive"></i></a>
                <a href="#" title="Twitter" class="tip"><i class="icon-twitter"></i></a>
                <a href="#" title="Github" class="tip"><i class="icon-github3"></i></a>
            </div>
        </td>
    </tr>
    <tr>
        <td class="text-center">
            <a href="http://placehold.it/300" class="lightbox" title="Noah Kennedy"><img src="http://placehold.it/300" alt="" class="img-media"></a>
        </td>
        <td class="text-semibold">Noah Kennedy</td>
        <td class="muted">CEO &amp; founder</td>
        <td class="file-info">
            <span><strong>With us from:</strong> January 13, 2007</span>
            <span><strong>Location:</strong> <a href="#">Berlin, Germany</a></span>
        </td>
        <td class="text-center">
            <div class="icons-group">
                <a href="#" title="Google Drive" class="tip"><i class="icon-google-drive"></i></a>
                <a href="#" title="Twitter" class="tip"><i class="icon-twitter"></i></a>
                <a href="#" title="Github" class="tip"><i class="icon-github3"></i></a>
            </div>
        </td>
    </tr>
    <tr>
        <td class="text-center">
            <a href="http://placehold.it/300" class="lightbox" title="Will DeBrandon"><img src="http://placehold.it/300" alt="" class="img-media"></a>
        </td>
        <td class="text-semibold">Will DeBrandon</td>
        <td class="muted">Print designer</td>
        <td class="file-info">
            <span><strong>With us from:</strong> January 12, 2010</span>
            <span><strong>Location:</strong> <a href="#">Kiev, Ukraine</a></span>
        </td>
        <td class="text-center">
            <div class="icons-group">
                <a href="#" title="Google Drive" class="tip"><i class="icon-google-drive"></i></a>
                <a href="#" title="Twitter" class="tip"><i class="icon-twitter"></i></a>
                <a href="#" title="Github" class="tip"><i class="icon-github3"></i></a>
            </div>
        </td>
    </tr>
    <tr>
        <td class="text-center">
            <a href="http://placehold.it/300" class="lightbox" title="Martin Michael Nielsen"><img src="http://placehold.it/300" alt="" class="img-media"></a>
        </td>
        <td class="text-semibold">Martin Michael Nielsen</td>
        <td class="muted">Front end developer</td>
        <td class="file-info">
            <span><strong>With us from:</strong> March 18, 2010</span>
            <span><strong>Location:</strong> <a href="#">London, United Kingdom</a></span>
        </td>
        <td class="text-center">
            <div class="icons-group">
                <a href="#" title="Google Drive" class="tip"><i class="icon-google-drive"></i></a>
                <a href="#" title="Twitter" class="tip"><i class="icon-twitter"></i></a>
                <a href="#" title="Github" class="tip"><i class="icon-github3"></i></a>
            </div>
        </td>
    </tr>
    <tr>
        <td class="text-center">
            <a href="http://placehold.it/300" class="lightbox" title="Alexander Flynn"><img src="http://placehold.it/300" alt="" class="img-media"></a>
        </td>
        <td class="text-semibold">Alexander Flynn</td>
        <td class="muted">Integration expert</td>
        <td class="file-info">
            <span><strong>With us from:</strong> May 22, 2010</span>
            <span><strong>Location:</strong> <a href="#">Paris, France</a></span>
        </td>
        <td class="text-center">
            <div class="icons-group">
                <a href="#" title="Google Drive" class="tip"><i class="icon-google-drive"></i></a>
                <a href="#" title="Twitter" class="tip"><i class="icon-twitter"></i></a>
                <a href="#" title="Github" class="tip"><i class="icon-github3"></i></a>
            </div>
        </td>
    </tr>
    <tr>
        <td class="text-center">
            <a href="http://placehold.it/300" class="lightbox" title="Elizabeth Morrison"><img src="http://placehold.it/300" alt="" class="img-media"></a>
        </td>
        <td class="text-semibold">Elizabeth Morrison</td>
        <td class="muted">Back end developer</td>
        <td class="file-info">
            <span><strong>With us from:</strong> June 12, 2008</span>
            <span><strong>Location:</strong> <a href="#">Bangkok, Thailand</a></span>
        </td>
        <td class="text-center">
            <div class="icons-group">
                <a href="#" title="Google Drive" class="tip"><i class="icon-google-drive"></i></a>
                <a href="#" title="Twitter" class="tip"><i class="icon-twitter"></i></a>
                <a href="#" title="Github" class="tip"><i class="icon-github3"></i></a>
            </div>
        </td>
    </tr>
    <tr>
        <td class="text-center">
            <a href="http://placehold.it/300" class="lightbox" title="Madison Gartner"><img src="http://placehold.it/300" alt="" class="img-media"></a>
        </td>
        <td class="text-semibold">Madison Gartner</td>
        <td class="muted">Front end developer</td>
        <td class="file-info">
            <span><strong>With us from:</strong> August 30, 2011</span>
            <span><strong>Location:</strong> <a href="#">Hague, Netherlands</a></span>
        </td>
        <td class="text-center">
            <div class="icons-group">
                <a href="#" title="Google Drive" class="tip"><i class="icon-google-drive"></i></a>
                <a href="#" title="Twitter" class="tip"><i class="icon-twitter"></i></a>
                <a href="#" title="Github" class="tip"><i class="icon-github3"></i></a>
            </div>
        </td>
    </tr>
    <tr>
        <td class="text-center">
            <a href="http://placehold.it/300" class="lightbox" title="Jacob Armstrong"><img src="http://placehold.it/300" alt="" class="img-media"></a>
        </td>
        <td class="text-semibold">Jacob Armstrong</td>
        <td class="muted">Business development</td>
        <td class="file-info">
            <span><strong>With us from:</strong> September 3, 2010</span>
            <span><strong>Location:</strong> <a href="#">Barcelona, Spain</a></span>
        </td>
        <td class="text-center">
            <div class="icons-group">
                <a href="#" title="Google Drive" class="tip"><i class="icon-google-drive"></i></a>
                <a href="#" title="Twitter" class="tip"><i class="icon-twitter"></i></a>
                <a href="#" title="Github" class="tip"><i class="icon-github3"></i></a>
            </div>
        </td>
    </tr>
    <tr>
        <td class="text-center">
            <a href="http://placehold.it/300" class="lightbox" title="Adam Bexter"><img src="http://placehold.it/300" alt="" class="img-media"></a>
        </td>
        <td class="text-semibold">Adam Bexter</td>
        <td class="muted">Interaction designer</td>
        <td class="file-info">
            <span><strong>With us from:</strong> May 5, 2000</span>
            <span><strong>Location:</strong> <a href="#">Amsterdam, Netherlands</a></span>
        </td>
        <td class="text-center">
            <div class="icons-group">
                <a href="#" title="Google Drive" class="tip"><i class="icon-google-drive"></i></a>
                <a href="#" title="Twitter" class="tip"><i class="icon-twitter"></i></a>
                <a href="#" title="Github" class="tip"><i class="icon-github3"></i></a>
            </div>
        </td>
    </tr>
    <tr>
        <td class="text-center">
            <a href="http://placehold.it/300" class="lightbox" title="Abigail Applegate"><img src="http://placehold.it/300" alt="" class="img-media"></a>
        </td>
        <td class="text-semibold">Abigail Applegate</td>
        <td class="muted">UI designer</td>
        <td class="file-info">
            <span><strong>With us from:</strong> December 20, 2009</span>
            <span><strong>Location:</strong> <a href="#">Hamburg, Germany</a></span>
        </td>
        <td class="text-center">
            <div class="icons-group">
                <a href="#" title="Google Drive" class="tip"><i class="icon-google-drive"></i></a>
                <a href="#" title="Twitter" class="tip"><i class="icon-twitter"></i></a>
                <a href="#" title="Github" class="tip"><i class="icon-github3"></i></a>
            </div>
        </td>
    </tr>
    <tr>
        <td class="text-center">
            <a href="http://placehold.it/300" class="lightbox" title="Ryan Riddle"><img src="http://placehold.it/300" alt="" class="img-media"></a>
        </td>
        <td class="text-semibold">Ryan Riddle</td>
        <td class="muted">Lead developer</td>
        <td class="file-info">
            <span><strong>With us from:</strong> May 13, 2010</span>
            <span><strong>Location:</strong> <a href="#">Budapest, Hungary</a></span>
        </td>
        <td class="text-center">
            <div class="icons-group">
                <a href="#" title="Google Drive" class="tip"><i class="icon-google-drive"></i></a>
                <a href="#" title="Twitter" class="tip"><i class="icon-twitter"></i></a>
                <a href="#" title="Github" class="tip"><i class="icon-github3"></i></a>
            </div>
        </td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    <!-- /contacts (table) -->

    </div>
    <!-- /fourth tab -->


    <!-- Fifth tab -->
    <div class="tab-pane fade" id="tasks">

    <!-- Tasks grid -->
    <div class="row">
    <div class="col-md-6">

    <!-- Task -->
    <div class="block task task-high">
        <div class="row with-padding">
            <div class="col-sm-9">
                <div class="task-description">
                    <a href="#">Vestibulum a leo eget arcu accumsan</a>
                    <i>NoName app</i>
                    <span>Maecenas mattis, magna vel fermentum ornare, mauris mi tempor quam, metus dolor non enim...</span>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="task-info text-right">
                    <span>October 12, 2013</span>
                    <span>3 days | <span class="label label-danger">12%</span></span>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="pull-left">
                <span><i class="icon-clock"></i> 4 hours</span>
            </div>
            <div class="pull-right">
                <ul class="footer-icons-group">
                    <li><a href="#"><i class="icon-pencil"></i></a></li>
                    <li><a href="#"><i class="icon-remove3"></i></a></li>
                    <li class="dropup"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-wrench"></i></a>
                        <ul class="dropdown-menu icons-right dropdown-menu-right">
                            <li><a href="#"><i class="icon-quill2"></i> Edit task</a></li>
                            <li><a href="#"><i class="icon-share2"></i> Reassign</a></li>
                            <li><a href="#"><i class="icon-checkmark3"></i> Complete</a></li>
                            <li><a href="#"><i class="icon-stack"></i> Archive</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /task -->

    <!-- Task -->
    <div class="block task task-low">
        <div class="row with-padding">
            <div class="col-sm-9">
                <div class="task-description">
                    <a href="#">Praesent adipiscing volutpat eros</a>
                    <i>NoName app</i>
                    <span>Aenean imperdiet nec purus ac rhoncus. Ut commodo elit et interdum convallis. Nulla nec lorem purus...</span>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="task-info text-right">
                    <span>October 6, 2013</span>
                    <span>3 days | <span class="label label-info">53%</span></span>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="pull-left">
                <span><i class="icon-clock"></i> 60 hours</span>
            </div>
            <div class="pull-right">
                <ul class="footer-icons-group">
                    <li><a href="#"><i class="icon-pencil"></i></a></li>
                    <li><a href="#"><i class="icon-remove3"></i></a></li>
                    <li class="dropup"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-wrench"></i></a>
                        <ul class="dropdown-menu icons-right dropdown-menu-right">
                            <li><a href="#"><i class="icon-quill2"></i> Edit task</a></li>
                            <li><a href="#"><i class="icon-share2"></i> Reassign</a></li>
                            <li><a href="#"><i class="icon-checkmark3"></i> Complete</a></li>
                            <li><a href="#"><i class="icon-stack"></i> Archive</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /task -->

    <!-- Task -->
    <div class="block task task-high">
        <div class="row with-padding">
            <div class="col-sm-9">
                <div class="task-description">
                    <a href="#">Nunc imperdiet pulvinar arcu in interdum</a>
                    <i>NoName app</i>
                    <span>Nam mauris diam, condimentum sed erat vitae, sagittis viverra purus. Vestibulum gravida faucibus enim...</span>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="task-info text-right">
                    <span>October 2, 2013</span>
                    <span>6 days | <span class="label label-success">98%</span></span>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="pull-left">
                <span><i class="icon-clock"></i> 236 hours</span>
            </div>
            <div class="pull-right">
                <ul class="footer-icons-group">
                    <li><a href="#"><i class="icon-pencil"></i></a></li>
                    <li><a href="#"><i class="icon-remove3"></i></a></li>
                    <li class="dropup"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-wrench"></i></a>
                        <ul class="dropdown-menu icons-right dropdown-menu-right">
                            <li><a href="#"><i class="icon-quill2"></i> Edit task</a></li>
                            <li><a href="#"><i class="icon-share2"></i> Reassign</a></li>
                            <li><a href="#"><i class="icon-checkmark3"></i> Complete</a></li>
                            <li><a href="#"><i class="icon-stack"></i> Archive</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /task -->

    <!-- Task -->
    <div class="block task task-normal">
        <div class="row with-padding">
            <div class="col-sm-9">
                <div class="task-description">
                    <a href="#">Duis vel aliquam enim, a tempor arcu</a>
                    <i>NoName app</i>
                    <span>Praesent hendrerit eros ut urna lobortis dictum. Vestibulum porttitor nulla sed diam vestibulum mollis...</span>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="task-info text-right">
                    <span>September 20, 2013</span>
                    <span>33 days | <span class="label label-danger">21%</span></span>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="pull-left">
                <span><i class="icon-clock"></i> 32 hours</span>
            </div>
            <div class="pull-right">
                <ul class="footer-icons-group">
                    <li><a href="#"><i class="icon-pencil"></i></a></li>
                    <li><a href="#"><i class="icon-remove3"></i></a></li>
                    <li class="dropup"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-wrench"></i></a>
                        <ul class="dropdown-menu icons-right dropdown-menu-right">
                            <li><a href="#"><i class="icon-quill2"></i> Edit task</a></li>
                            <li><a href="#"><i class="icon-share2"></i> Reassign</a></li>
                            <li><a href="#"><i class="icon-checkmark3"></i> Complete</a></li>
                            <li><a href="#"><i class="icon-stack"></i> Archive</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /task -->

    <!-- Task -->
    <div class="block task task-normal">
        <div class="row with-padding">
            <div class="col-sm-9">
                <div class="task-description">
                    <a href="#">libero justo ultrices turpis</a>
                    <i>NoName app</i>
                    <span>Aliquam feugiat vehicula risus. Pellentesque eget purus rutrum turpis consequat volutpat sit amet sit amet...</span>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="task-info text-right">
                    <span>September 18, 2013</span>
                    <span>12 days | <span class="label label-info">62%</span></span>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="pull-left">
                <span><i class="icon-clock"></i> 113 hours</span>
            </div>
            <div class="pull-right">
                <ul class="footer-icons-group">
                    <li><a href="#"><i class="icon-pencil"></i></a></li>
                    <li><a href="#"><i class="icon-remove3"></i></a></li>
                    <li class="dropup"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-wrench"></i></a>
                        <ul class="dropdown-menu icons-right dropdown-menu-right">
                            <li><a href="#"><i class="icon-quill2"></i> Edit task</a></li>
                            <li><a href="#"><i class="icon-share2"></i> Reassign</a></li>
                            <li><a href="#"><i class="icon-checkmark3"></i> Complete</a></li>
                            <li><a href="#"><i class="icon-stack"></i> Archive</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /task -->

    <!-- Task -->
    <div class="block task task-low">
        <div class="row with-padding">
            <div class="col-sm-9">
                <div class="task-description">
                    <a href="#">Morbi molestie augue in quam ultrices</a>
                    <i>NoName app</i>
                    <span>Suspendisse nulla est, malesuada id ligula in, vulputate dignissim tellus. Duis tempus...</span>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="task-info text-right">
                    <span>September 10, 2013</span>
                    <span>9 days | <span class="label label-danger">14%</span></span>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="pull-left">
                <span><i class="icon-clock"></i> 78 hours</span>
            </div>
            <div class="pull-right">
                <ul class="footer-icons-group">
                    <li><a href="#"><i class="icon-pencil"></i></a></li>
                    <li><a href="#"><i class="icon-remove3"></i></a></li>
                    <li class="dropup"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-wrench"></i></a>
                        <ul class="dropdown-menu icons-right dropdown-menu-right">
                            <li><a href="#"><i class="icon-quill2"></i> Edit task</a></li>
                            <li><a href="#"><i class="icon-share2"></i> Reassign</a></li>
                            <li><a href="#"><i class="icon-checkmark3"></i> Complete</a></li>
                            <li><a href="#"><i class="icon-stack"></i> Archive</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /task -->

    </div>


    <div class="col-md-6">

    <!-- Task -->
    <div class="block task task-low">
        <div class="row with-padding">
            <div class="col-sm-9">
                <div class="task-description">
                    <a href="#">Morbi arcu dolor, faucibus vitae sapien non</a>
                    <i>NoName app</i>
                    <span>Duis a suscipit magna Cum sociis natoque penatibus et magnis dis parturient montes, ridiculus mus...</span>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="task-info text-right">
                    <span>August 18, 2013</span>
                    <span>2 days | <span class="label label-success">90%</span></span>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="pull-left">
                <span><i class="icon-clock"></i> 38 hours</span>
            </div>
            <div class="pull-right">
                <ul class="footer-icons-group">
                    <li><a href="#"><i class="icon-pencil"></i></a></li>
                    <li><a href="#"><i class="icon-remove3"></i></a></li>
                    <li class="dropup"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-wrench"></i></a>
                        <ul class="dropdown-menu icons-right dropdown-menu-right">
                            <li><a href="#"><i class="icon-quill2"></i> Edit task</a></li>
                            <li><a href="#"><i class="icon-share2"></i> Reassign</a></li>
                            <li><a href="#"><i class="icon-checkmark3"></i> Complete</a></li>
                            <li><a href="#"><i class="icon-stack"></i> Archive</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /task -->

    <!-- Task -->
    <div class="block task task-low">
        <div class="row with-padding">
            <div class="col-sm-9">
                <div class="task-description">
                    <a href="#">Sed enim dui, accumsan ac egestas</a>
                    <i>NoName app</i>
                    <span>Ut eget magna sodales, vulputate magna ac, sollicitudin felis. Nulla condimentum nisl...</span>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="task-info text-right">
                    <span>September 2, 2013</span>
                    <span>3 days | <span class="label label-info">53%</span></span>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="pull-left">
                <span><i class="icon-clock"></i> 30 hours</span>
            </div>
            <div class="pull-right">
                <ul class="footer-icons-group">
                    <li><a href="#"><i class="icon-pencil"></i></a></li>
                    <li><a href="#"><i class="icon-remove3"></i></a></li>
                    <li class="dropup"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-wrench"></i></a>
                        <ul class="dropdown-menu icons-right dropdown-menu-right">
                            <li><a href="#"><i class="icon-quill2"></i> Edit task</a></li>
                            <li><a href="#"><i class="icon-share2"></i> Reassign</a></li>
                            <li><a href="#"><i class="icon-checkmark3"></i> Complete</a></li>
                            <li><a href="#"><i class="icon-stack"></i> Archive</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /task -->

    <!-- Task -->
    <div class="block task task-high">
        <div class="row with-padding">
            <div class="col-sm-9">
                <div class="task-description">
                    <a href="#">Mauris lacinia neque ut odio lobortis</a>
                    <i>NoName app</i>
                    <span>Ut feugiat nunc ut venenatis bibendum. Aenean id vestibulum nisi, ac consectetur urna. Duis sodales...</span>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="task-info text-right">
                    <span>August 12, 2013</span>
                    <span>Complete | <span class="label label-success">100%</span></span>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="pull-left">
                <span><i class="icon-clock"></i> 209 hours</span>
            </div>
            <div class="pull-right">
                <ul class="footer-icons-group">
                    <li><a href="#"><i class="icon-pencil"></i></a></li>
                    <li><a href="#"><i class="icon-remove3"></i></a></li>
                    <li class="dropup"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-wrench"></i></a>
                        <ul class="dropdown-menu icons-right dropdown-menu-right">
                            <li><a href="#"><i class="icon-quill2"></i> Edit task</a></li>
                            <li><a href="#"><i class="icon-share2"></i> Reassign</a></li>
                            <li><a href="#"><i class="icon-checkmark3"></i> Complete</a></li>
                            <li><a href="#"><i class="icon-stack"></i> Archive</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /task -->

    <!-- Task -->
    <div class="block task task-high">
        <div class="row with-padding">
            <div class="col-sm-9">
                <div class="task-description">
                    <a href="#">Proin interdum ullamcorper magna et sagitti</a>
                    <i>NoName app</i>
                    <span>Maecenas fringilla diam et nunc adipiscing venenatis. Vivamus interdum mattis et, elementum id purus...</span>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="task-info text-right">
                    <span>August 12, 2013</span>
                    <span>6 days | <span class="label label-danger">17%</span></span>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="pull-left">
                <span><i class="icon-clock"></i> 42 hours</span>
            </div>
            <div class="pull-right">
                <ul class="footer-icons-group">
                    <li><a href="#"><i class="icon-pencil"></i></a></li>
                    <li><a href="#"><i class="icon-remove3"></i></a></li>
                    <li class="dropup"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-wrench"></i></a>
                        <ul class="dropdown-menu icons-right dropdown-menu-right">
                            <li><a href="#"><i class="icon-quill2"></i> Edit task</a></li>
                            <li><a href="#"><i class="icon-share2"></i> Reassign</a></li>
                            <li><a href="#"><i class="icon-checkmark3"></i> Complete</a></li>
                            <li><a href="#"><i class="icon-stack"></i> Archive</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /task -->

    <!-- Task -->
    <div class="block task task-low">
        <div class="row with-padding">
            <div class="col-sm-9">
                <div class="task-description">
                    <a href="#">Cras sed metus sem. Maecenas semper</a>
                    <i>NoName app</i>
                    <span>Proin enim arcu, condimentum vitae vestibulum eget, pellentesque a erat. Vivamus eleifend dictum felis...</span>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="task-info text-right">
                    <span>August 18, 2013</span>
                    <span>Complete | <span class="label label-success">100%</span></span>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="pull-left">
                <span><i class="icon-clock"></i> 23 hours</span>
            </div>
            <div class="pull-right">
                <ul class="footer-icons-group">
                    <li><a href="#"><i class="icon-pencil"></i></a></li>
                    <li><a href="#"><i class="icon-remove3"></i></a></li>
                    <li class="dropup"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-wrench"></i></a>
                        <ul class="dropdown-menu icons-right dropdown-menu-right">
                            <li><a href="#"><i class="icon-quill2"></i> Edit task</a></li>
                            <li><a href="#"><i class="icon-share2"></i> Reassign</a></li>
                            <li><a href="#"><i class="icon-checkmark3"></i> Complete</a></li>
                            <li><a href="#"><i class="icon-stack"></i> Archive</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /task -->

    <!-- Task -->
    <div class="block task task-normal">
        <div class="row with-padding">
            <div class="col-sm-9">
                <div class="task-description">
                    <a href="#">Maecenas ullamcorper luctus semper</a>
                    <i>NoName app</i>
                    <span>Pellentesque enim tortor, dapibus quis quam vel, ultricesh. Curabitur egestas quis sapien nec interdum...</span>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="task-info text-right">
                    <span>August 3, 2013</span>
                    <span>Complete | <span class="label label-success">100%</span></span>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="pull-left">
                <span><i class="icon-clock"></i> 34 hours</span>
            </div>
            <div class="pull-right">
                <ul class="footer-icons-group">
                    <li><a href="#"><i class="icon-pencil"></i></a></li>
                    <li><a href="#"><i class="icon-remove3"></i></a></li>
                    <li class="dropup"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-wrench"></i></a>
                        <ul class="dropdown-menu icons-right dropdown-menu-right">
                            <li><a href="#"><i class="icon-quill2"></i> Edit task</a></li>
                            <li><a href="#"><i class="icon-share2"></i> Reassign</a></li>
                            <li><a href="#"><i class="icon-checkmark3"></i> Complete</a></li>
                            <li><a href="#"><i class="icon-stack"></i> Archive</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /task -->

    </div>
    </div>
    <!-- /tasks grid -->


    <!-- Pagination -->
    <div class="block text-center">
        <ul class="pagination">
            <li><a href="#">←</a></li>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">→</a></li>
        </ul>
    </div>
    <!-- /pagination -->

    </div>
    <!-- /fifth tab -->

    </div>

    </div>
    <!-- /page tabs -->
    <!-- /search -->
</template>