<template name="packageHeaderWidget">
    <div class="visible-xs header-element-toggle">
        <a class="btn btn-primary btn-icon" data-toggle="collapse" data-target="#package-header-widget"><i class="icon-info"></i></a>
    </div>
    <div class="package-header-widget">
        <div class="collapse" id="package-header-widget">
            <div class="well">
                <ul class="info-buttons">
                    <li>{{> reportBugBlock }}</li>
                </ul>
            </div>
        </div>
    </div>
</template>