<template name="example_user_menu">
    <!-- User menu -->
    <div class="user-menu dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="http://placehold.it/300">
            <div class="user-info">
                Austin Rivas <span>Luma Pictures</span>
            </div>
        </a>
        <div class="popup dropdown-menu dropdown-menu-right">
            <div class="thumbnail">
                <div class="thumb">
                    <img src="http://placehold.it/300">
                    <div class="thumb-options">
                    <span>
                        <a href="#" class="btn btn-icon btn-success"><i class="icon-pencil"></i></a>
                        <a href="#" class="btn btn-icon btn-success"><i class="icon-remove"></i></a>
                    </span>
                    </div>
                </div>
                <div class="caption text-center">
                    <h6>Austin Rivas <small>Luma Pictures</small></h6>
                </div>
            </div>
            <ul class="list-group">
                <li class="list-group-item"><i class="icon-pencil3 text-muted"></i> My posts <span class="label label-success">289</span></li>
                <li class="list-group-item"><i class="icon-people text-muted"></i> Users online <span class="label label-danger">892</span></li>
                <li class="list-group-item"><i class="icon-stats2 text-muted"></i> Reports <span class="label label-primary">92</span></li>
                <li class="list-group-item"><i class="icon-stack text-muted"></i> Balance <h5 class="pull-right text-danger">$45.389</h5></li>
            </ul>
        </div>
    </div>
    <!-- /user menu -->
</template>