<template name="search_line">
    <!-- Search line -->
    <form action="#" class="search-line block" role="form">
        <div class="input-group">
            <div class="search-control">
                <input type="text" class="form-control autocomplete" placeholder="What are you looking for?">
                <select multiple="multiple" class="multi-select-search" tabindex="2">
                    <option value="Everywhere" selected="selected">Everywhere</option>
                    <option value="Users">Users</option>
                    <option value="Profiles">Profiles</option>
                    <option value="Images">Images</option>
                    <option value="Connections">Connections</option>
                    <option value="Gallery">Gallery</option>
                    <option value="Posts">Posts</option>
                </select>
            </div>
            <span class="input-group-btn">
                <button class="btn btn-success" type="button">Search</button>
            </span>
        </div>
    </form>
    <!-- /search line -->
</template>