<template name="searchDropdown">
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-search3"></i> <span>Search</span> <b class="caret"></b></a>
    <div class="popup dropdown-menu dropdown-menu-right">
        <div class="popup-header">
            <a href="#" class="pull-left"><i class="icon-paragraph-justify"></i></a>
            <span>Quick search</span>
            <a href="#" class="pull-right"><i class="icon-new-tab"></i></a>
        </div>
        {{> searchForm }}
    </div>
</li>
</template>