<template name="headerElements">
  {{> breadcrumbsLineWithWidgets }}
  {{> pageHeaderWithSparklines }}
  {{> pageHeaderWithProgressBar }}
  {{> pageHeaderWithStats }}
  {{> pageHeaderWithInfoBlocks }}
  {{> pageHeaderWithSelect }}
  {{> pageHeaderWithButtons }}
  {{> pageHeaderWithSearch }}
</template>

<template name="pageHeaderWithButtons">
  {{#pageHeader}}
    {{> pageTitle title="Header with Buttons" subtitle="Any bootstrap button will do." }}
    {{#pageHeaderWidget selector="header-buttons" }}
      <div class="btn-group">
        <button class="btn btn-primary">Action</button>
        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret caret-split"></span></button>
        <ul class="dropdown-menu dropdown-menu-right icons-right">
          <li><a href="#"><i class="icon-cogs"></i> This is</a></li>
          <li><a href="#"><i class="icon-grid3"></i> Dropdown</a></li>
          <li><a href="#"><i class="icon-spinner7"></i> With right</a></li>
          <li><a href="#"><i class="icon-link"></i> Aligned icons</a></li>
        </ul>
      </div>

      <div class="btn-group">
        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right icons-right">
          <li><a href="#"><i class="icon-cogs"></i> This is</a></li>
          <li><a href="#"><i class="icon-grid3"></i> Dropdown</a></li>
          <li><a href="#"><i class="icon-spinner7"></i> With right</a></li>
          <li><a href="#"><i class="icon-link"></i> Aligned icons</a></li>
        </ul>
      </div>

      <div class="btn-group">
        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          <i class="icon-grid"></i>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right icons-right">
          <li><a href="#"><i class="icon-cogs"></i> This is</a></li>
          <li><a href="#"><i class="icon-grid3"></i> Dropdown</a></li>
          <li><a href="#"><i class="icon-spinner7"></i> With right</a></li>
          <li><a href="#"><i class="icon-link"></i> Aligned icons</a></li>
        </ul>
      </div>

      <button type="button" class="btn btn-info">Save</button>

      <button type="button" class="btn btn-danger">Cancel</button>
    {{/pageHeaderWidget}}
  {{/pageHeader}}
  {{>breadcrumbsLine}}
</template>

<template name="pageHeaderWithProgressBar">
  {{#pageHeader}}
    {{> pageTitle title="Progress Bars" subtitle="Are we there yet?" }}
    {{#pageHeaderWidget selector="header-progress" }}
      <span>Uploading files...</span>
      <div class="progress progress-striped active">
        <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
          <span class="sr-only">85% Complete</span>
        </div>
      </div>
    {{/pageHeaderWidget}}
  {{/pageHeader}}
  {{> breadcrumbsLine }}
</template>

<template name="pageHeaderWithStats">
  {{#pageHeader}}
    {{> pageTitle title="Live Stats" subtitle="It's alive!" }}
    {{#pageHeaderWidget selector="header-statistics" }}
      <ul class="statistics">
        <li>
          <div class="statistics-info">
            <a href="#" title="" class="bg-warning"><i class="icon-point-up"></i></a>
            <strong>621,873</strong>
          </div>
          <div class="progress progress-micro">
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
              <span class="sr-only">20% Complete</span>
            </div>
          </div>
          <span>Total clicks</span>
        </li>

        <li>
          <div class="statistics-info">
            <a href="#" title="" class="bg-success"><i class="icon-user-plus"></i></a>
            <strong>12,476</strong>
          </div>
          <div class="progress progress-micro">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
              <span class="sr-only">60% Complete</span>
            </div>
          </div>
          <span>User registrations</span>
        </li>
      </ul>
    {{/pageHeaderWidget}}
  {{/pageHeader}}
  {{> breadcrumbsLine }}
</template>

<template name="pageHeaderWithSearch">
  {{#pageHeader}}
    {{> pageTitle title="Search Widget" subtitle="What was I looking for?" }}
    {{#pageHeaderWidget selector="header-search" }}
      <form action="#" role="form">
        <div class="input-group">
          <input type="text" class="form-control autocomplete" placeholder="Search...">
          <span class="input-group-btn">
            <button class="btn btn-primary btn-icon" type="button"><i class="icon-search3"></i></button>
          </span>
        </div>
      </form>
    {{/pageHeaderWidget}}
  {{/pageHeader}}
  {{> breadcrumbsLine }}
</template>

<template name="pageHeaderWithInfoBlocks">
  {{#pageHeader}}
  {{> pageTitle title="Info Blocks" subtitle="Show me as little information as possible." }}
    {{#pageHeaderWidget selector="header-info-buttons" }}
      <ul class="info-buttons">
        <li><a href="#"><i class="icon-truck"></i> <span>Shipped items</span> <strong class="label label-primary">10</strong></a></li>
        <li><a href="#"><i class="icon-thumbs-up2"></i> <span>View rating</span> <strong class="label label-success">20</strong></a></li>
        <li><a href="#"><i class="icon-support"></i> <span>Support desk</span> <strong class="label label-danger">30</strong></a></li>
      </ul>
    {{/pageHeaderWidget}}
  {{/pageHeader}}
  {{> breadcrumbsLine }}
</template>

<template name="pageHeaderWithSelect">
  {{#pageHeader}}
    {{> pageTitle title="Header Select" subtitle="I know what I want." }}
    {{#pageHeaderWidget selector="header-select" }}
      <form action="#" role="form">
        <label class="control-label">Fixed select: </label>
        <select data-placeholder="Choose a Country..." class="select" tabindex="2">
          <option value=""></option>
          <option value="Cambodia">Cambodia</option>
          <option value="Cameroon">Cameroon</option>
          <option value="Canada">Canada</option>
          <option value="Cape Verde">Cape Verde</option>
        </select>
      </form>
    {{/pageHeaderWidget}}
    {{/pageHeader}}
  {{> breadcrumbsLine }}
</template>

<template name="pageHeaderWithSparklines">
  {{#pageHeader}}
    {{> pageTitle title="Sparklines" subtitle="Live bar charts." }}
    {{#pageHeaderWidget selector="header-bar-stats" }}
      <ul class="page-stats">
        <li>
          <div class="page-stats-showcase">
            <span>New visits</span>
            <h2>22.504</h2>
          </div>
          <div class="bar-info chart">10,14,8,45,23,41,22,31,19,12, 28, 21, 24, 20</div>
        </li>
        <li>
          <div class="page-stats-showcase">
            <span>My balance</span>
            <h2>$16.290</h2>
          </div>
          <div class="bar-danger chart">10,14,8,45,23,41,22,31,19,12, 28, 21, 24, 20</div>
        </li>
      </ul>
    {{/pageHeaderWidget}}
  {{/pageHeader}}
  {{> breadcrumbsLine }}
</template>

<template name="breadcrumbsLineWithWidgets">
  {{#pageHeader}}
    {{> pageTitle title="Breadcrumbs Line Widgets" subtitle="Yo dawg, heard you like widgets." }}
  {{/pageHeader}}
  {{#breadcrumbsLine}}
    {{> searchDropdown }}
    {{> languageSelector }}
  {{/breadcrumbsLine}}
</template>