<template name="panel">
  <div class="panel {{#if styles}}{{styles}}{{else}}panel-default{{/if}}">
    {{#if UI.contentBlock }}
      {{> UI.contentBlock }}
    {{/if}}
  </div>
</template>

<template name="panelHeading">
  <div class="panel-heading">
    <h6 class="panel-title">
      {{#if icon}}{{> icon styles=icon }}{{/if}}
      {{title}}
    </h6>
    {{#if UI.contentBlock }}
      {{> UI.contentBlock }}
    {{/if}}
  </div>
</template>

<template name="panelIconGroup">
  <div class="panel-icons-group">
    {{#if UI.contentBlock }}
      {{> UI.contentBlock }}
    {{/if}}
  </div>
</template>

<template name="pullRight">
  <div class="pull-right">
    {{#if UI.contentBlock }}
      {{> UI.contentBlock }}
    {{/if}}
  </div>
</template>

<template name="panelBody">
  <div class="panel-body">
    {{#if UI.contentBlock }}
      {{> UI.contentBlock }}
    {{/if}}
  </div>
</template>


<template name="panelToggle">
  <a href="#" class="btn btn-link btn-icon panel-toggle"><i class="icon-arrow-up9"></i></a>
</template>

<template name="panelRemove">
  <a href="#" class="btn btn-link btn-icon panel-remove"><i class="icon-cancel-circle"></i></a>
</template>

<template name="panelModal">
  <a data-toggle="modal" role="button" href="#options-modal" class="btn btn-link btn-icon"><i class="icon-cog4"></i></a>
</template>