<template name="panel">
  <div class="panel {{#if styles}}{{styles}}{{else}}panel-default{{/if}}">
    {{> UI.contentBlock }}
  </div>
</template>

<template name="panel_heading">
  <div class="panel-heading">
    <h6 class="panel-title">
      {{#if icon}}{{> icon styles=icon }}{{/if}}
      {{title}}
    </h6>
      {{> UI.contentBlock }}
  </div>
</template>

<template name="panel_icon_group">
    <div class="panel-icons-group">
        {{> UI.contentBlock }}
    </div>
</template>

<template name="panel_body">
  <div class="panel-body">
      {{> UI.contentBlock }}
  </div>
</template>


<template name="panel_toggle">
  <a href="#" class="btn btn-link btn-icon panel-toggle"><i class="icon-minus"></i></a>
</template>

<template name="panel_remove">
  <a href="#" class="btn btn-link btn-icon panel-remove"><i class="icon-cancel-circle"></i></a>
</template>