<template name="default_breadcrumbs_line">
    <!-- Breadcrumbs line -->
    <div class="breadcrumb-line">
        {{> yield region='breadcrumbs' }}
        <div class="visible-xs breadcrumb-toggle">
            <a class="btn btn-link btn-lg btn-icon" data-toggle="collapse" data-target=".breadcrumb-buttons"><i class="icon-menu2"></i></a>
        </div>
        <ul class="breadcrumb-buttons collapse">
            {{> searchDropdown }}
            {{> languageSelector }}
        </ul>
    </div>
    <!-- /breadcrumbs line -->
</template>